.collection .collection-item-one {
  border-bottom: none;
}
.collection a.collection-item-one {
  font-variant: JIS04;
  display: block;
  /* transition: 0.25s; */
  color: #0aafff !important;
  font-weight: bold;
  padding: 10px 15px;
}
.collection .collection-item-one.active {
  background-color: #48aef3;
  color: #fff !important;
  /* text-align: center; */
  text-align: left;
}
.text-center {
  transition: 1s;
  text-align: center;
}
.rewarDiv h4 {
  font-size: 13px;
  text-align: center;
  margin: 5px 0;
}
.borR {
  /* border-right: 1px solid #ddd; */
}
.commonDivDF {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  min-height: 100px !important;
}
.marTB15 {
  margin: 15px 0;
}
.modal.modal-fixed-footer.custFooterModal {
  padding: 0;
  height: 100%;
  max-height: 350px;
}
img.greenArrowIcon {
  transform: rotate(180deg);
  width: 40px;
}
.mar0 {
  margin: 0px;
}
.redArrowIcon {
  width: 40px;
}
.popHead {
  text-align: center;
  font-size: 25px;
  color: #03a9f4;
  font-weight: bold;
}
.padd15 {
  padding: 15px;
}
.rewarDiv a {
  display: block;
}

/* .listDiv {
    position: absolute;
    width: 150px;
    left: 100%;
    top: 0;
    z-index: 9;
    border: 1px solid #ddd;
	display:none;
	background-color: #f8f8f8;
} */
.listDiv ul {
  margin: 0 0;
}
/* .collection-item-one:hover .listDiv {
	display:block;
} */
.collection-item-one {
  position: relative;
  cursor: pointer;
}

.overflowUnset {
  overflow: unset;
}
.listDiv li {
  /* padding: 2px 10px; */
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 5px;
}
.listDiv {
  left: 100%;
  top: 0;
  z-index: 9;
  /* display: none; */
  /* background-color: #33aaff; */
}
.listDiv li:hover {
  background-color: none !important;
}
.collection {
  position: relative;
  background-color: #d4baba99;
  border: none;
  /* margin-top: 50px; */
}
/* for activated route */

.collection-item-one.active {
  position: relative;
}
.collection-item-one.active:after,
.collection-item-one.active:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.collection-item-one.active:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #48aef3;
  border-width: 21px;
  margin-top: -21px;
}
.blog-post {
  color: #2f2f2f;
  font-weight: bold;
  font-size: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 15px;
}
.export {
  color: #ffffff;
  font-size: 17px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #003a54;
}
