app-publisher,
app-subscriber {
  display: block;
  float: left;
  margin-right: 1px;
}
#videos {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.hidevideo {
  width: 20%;
  height: 20px;
}
.call {
  display: flex;
  flex-direction: column;
}
.screens {
  display: flex;
}
/* .screens {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
} */
.back {
  cursor: pointer;
  color: #48aef3;
  font-size: 20px;
  outline: none;
  width: fit-content;
}
.video-call-execution-tab {
  display: flex;
  flex-direction: column;
}
/* .copy-link {
  width: 40%;
  margin-top: 10px;
  color: #48aef3;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  /* background-color: #ffffff !important; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto !important; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0, 0, 0); Fallback color
  background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */
}

/* Modal Content */
.modal-content {
  /* background-color: #fefefe; */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.interview-title {
  color: #48aef3;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 20px;
}
.borderBA a {
  color: #0aafff !important;
  background-color: #ffffff !important;
}
.hide-on-med-and-down li {
  position: relative;
}
nav ul a {
  color: #03a9f4;
}
#nav-mobile {
  transform: none !important;
}
.mobileMenu-li {
  color: #1c8ad8;
  font-size: 14px;
}
.mobileMenu-li:hover {
  color: #fff;
  background-color: #48aef3;
  font-weight: bold;
}
.hide-on-med-and-down li .borderBA {
  color: #0aafff !important;
  position: relative;
}

/* popup design start */
.modalBodyPop li {
  list-style: circle !important;
  font-size: 15px;
  color: #000;
}

.modalBodyPop h5 {
  font-size: 20px;
  font-weight: bold;
}

.modalBodyPop {
  border-top: 1px solid #ddd;
  padding: 0 30px;
  margin-bottom: 30px;
}

.questionDiv {
  box-shadow: 0 0 5px #666;
  padding: 20px;
  border-radius: 5px;
}
.verifyDiv h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}
.questionHead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
}
.queHeadtext {
  margin: 0 0 0 20px;
}
.queHeadtext h4 {
  margin: 0 0;
  font-size: 18px;
  font-weight: bold;
}
.textFeildDivQ {
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
  padding: 20px 0 0;
}
.questionDiv input {
  border: 1px solid #ddd !important;
  height: 40px !important;
  margin: 0px 0 0 !important;
  box-shadow: 0 0 10px #ddd !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  box-sizing: inherit !important;
}
.verifyDiv {
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
  padding: 20px 0 0;
}

.verifyDivInner button {
  margin-left: 10px;
  padding: 0;
  min-width: 150px;
}
.verifyDivInner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 25px;
  position: relative;
}
.text-right {
  text-align: right;
}
.marT20 {
  margin-top: 20px;
}
.modal.forumPopMain {
  display: none;
  position: fixed;
  /* max-height: unset; */
  /* max-height: 410px; */
  box-shadow: none !important;
  /* width: 100%; */
  max-width: 600px;
  overflow: unset;
  height: 100%;
}

.textFeildDivQ textarea {
  border: 1px solid #ddd !important;
  height: auto !important;
  margin: 0px 0 0 !important;
  box-shadow: 0 0 10px #ddd !important;
  border-radius: 5px !important;
  padding: 10px 10px !important;
  box-sizing: inherit !important;
  min-height: 80px;
}
.forumPopMain .slide-heading {
  margin: 0;
  padding: 10px 30px;
}
.askQ {
  text-align: center;
}
.forumMsgPopup p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #101010;
}
.forumMsgPopup.forumPopMain {
  max-width: 600px;
  position: fixed;
}
.invalid-feedback {
  color: red;
  position: absolute;
  left: 5px;
  font-size: 14px;
  bottom: -22px;
  font-weight: bold;
}
.slide-heading {
  font-size: 32px;
  color: #114488;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.videoModalMain a.videoCloseBtn {
  position: absolute;
  top: -30px;
  color: #fff !important;
  z-index: 99999999;
  right: 0;
  font-size: 20px !important;
  cursor: pointer;
}
/* popup end */

.width100 {
  width: 100%;
}
.AksQutionBtn.btn {
  background-color: #ffffff;
  border: 2px solid #34aafd;
  color: #34aafd;
  font-weight: bold;
}
.askBtnText {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/*ask question pop place holder css START*/
.questionDiv input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}

.questionDiv input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.questionDiv input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}
.questionDiv textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}

.questionDiv textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.questionDiv textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}
/*ask question pop place holder css END*/
/* end meeting */
.end-meeting {
  margin-top: 20px;

  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.end-meeting:active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.end-meeting:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.end-meeting:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
/* end css for end meeting */
/* copy link */

.copy-link {
  margin-top: 20px;

  color: #48aef3;
  background-color: transparent;
  background-image: none;
  border-color: #48aef3;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.copy-link:active {
  color: #fff;
  background-color: #48aef3;
  border-color: #48aef3;
}
.copy-link:hover {
  color: #fff;
  background-color: #48aef3;
  border-color: #48aef3;
}
.copy-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 174, 243);
}
/* end css for copy link */

/* start-button */
.start-button {
  margin-top: 20px;

  color: #000000;
  background-color: transparent;
  background-image: none;
  border-color: #000000;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.start-button:active {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.start-button:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.start-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 251, 64);
}
/* end css for start-button*/

/* stop-button */
.stop-button {
  margin-top: 20px;

  color: #69271f;
  background-color: transparent;
  background-image: none;
  border-color: #69271f;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.stop-button:active {
  color: #fff;
  background-color: #69271f;
  border-color: #69271f;
}
.stop-button:hover {
  color: #fff;
  background-color: #69271f;
  border-color: #69271f;
}
.stop-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 39, 31);
}
/* end css for stop-button*/

/* view-button */
.view-button {
  margin-top: 20px;
  /* margin-left: 10px; */
  color: #d8d35d;
  background-color: transparent;
  background-image: none;
  border-color: #d8d35d;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.view-button:active {
  color: #fff;
  background-color: #d8d35d;
  border-color: #d8d35d;
}
.view-button:hover {
  color: #fff;
  background-color: #d8d35d;
  border-color: #d8d35d;
}
.view-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 39, 31);
}
/* end css for view-button*/

/* tokbox */
#videos {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
#subscriber {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  z-index: 10;
}
#publisher {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 30px;
  left: 10px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 3px;
}
#buttonholder {
  position: absolute;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  bottom: 2px;
  left: 20px;
  z-index: 200;
}

/* end tokbox */

/* feedback recruiters */

.singleList {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start !important;
  margin-bottom: 30px;
  transition: 1s;
  height: 210px;
  background-color: #ffffff;
}
.resumeSingleList .PointsDiv.commonSingleInner {
  border-right: 0px solid #999;
}

.commonSingleInner {
  width: 25%;
}
.feedbackDiv.commonSingleInner {
  width: 45%;
}
.PointsDiv.commonSingleInner {
  border-right: 1px solid #999;
}
.PointsDivSingle {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.PointsDivSingle h4 {
  margin: 0 20px;
  font-size: 16px;
  color: #919191;
  word-break: break-all;
}
.startDiv {
  display: flex;
}
.feedbackDiv .PointsDivSingle h4 {
  margin: 0 20px;
  font-size: 19px;
  color: #b6b6b6;
  min-width: 150px;
}
.feedbackDiv .PointsDivSingle img {
  margin: 0 5px;
}
.feedbackDiv .PointsDivSingle {
  display: flex;
  align-items: baseline;
  margin: 10px 0;
  justify-content: center;
}
.ActionDiv.commonSingleInner {
  width: 30%;
}
.ActionDiv h5 {
  color: #30496f;
  font-size: 14px;
}
.comment {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f2f2f2;
}
.comment h4 {
  font-size: 14px;
  color: #747474;
  margin: 0;
}
.overStart:hover {
  filter: invert(300%);
}
.docDiv h4 {
  color: #30496f;
  font-size: 14px;
}
.commonRejectApprove {
  width: auto;
}
.commonBtn {
  min-width: 120px;
  background-color: transparent;
  margin: 10px 20px !important;
  /*padding: 3px 0;*/
  /* font-family: 'Rajdhani', sans-serif; */
}
.docSection {
  width: 30%;
  text-align: center;
}
.docDiv {
  border-right: 1px solid #dbdbdb;
  /* border-left: 1px solid #dbdbdb; */
}

.ActionDiv.commonSingleInner {
  width: 70%;
  padding: 0 20px;
}
.commentTxt {
  border-radius: 10px;
  height: 5rem;
}
/* end feedback recruiters */
.margin-T50 {
  margin-top: 50px;
}
.archive-copylink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.publisher-container {
  display: flex;
  flex-direction: column;
}
.candidate-container {
  display: flex;
  flex-direction: column;
}
.back-name {
  font-size: 14px;
  cursor: pointer;
  color: #48aef3;
  outline: none;
}

/* Add question popup */
.videoModalMain.forumPopMain.addQuetionPopup {
  max-width: 650px;
  background-color: transparent;
  padding-top: 0;
}
.marL10 {
  margin-left: 10px;
}
.questionDivPopup {
  width: 100%;
  float: left;
  padding: 5px 0;
}
.padd10 {
  padding: 10px 0 0;
}
.slide-heading.blueHeadng {
  color: #03a9f4;
}
.formFeild {
  width: 100%;
  float: left;
}
.formFeild label.control-label {
  min-width: 140px;
  float: left;
  font-size: 20px;
  display: inline-block;
  color: #03a9f4;
}
.inputDiv {
  width: calc(100% - 140px);
  float: right;
}
.TimeStampInput {
  width: 25%;
  float: left;
}
.inputDiv input,
.TimeStampInput input {
  height: 30px;
  margin-bottom: 10px;
}
.popSubmitBtnDiv {
  text-align: center;
}
.popSubmitBtnDiv a {
  color: #03a9f4;
  font-size: 29px;
  margin: 30px 0 0;
  display: inline-block;
  font-weight: bold;
}
.noBord {
  border: 0;
  margin: 0;
}
.modal-content.blueBord {
  border: 1px solid #035b95;
}
.modal-content.addQuetion {
  padding: 20px 0;
  background-color: #ffffff !important;
  width: 100%;
  /* overflow: scroll; */
}
/* .copy-link.commButton {
  width: 150px;
  height: 40px;
  padding: 0 10px;
} */
.upperBackDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}
.blueBtn.commButton {
  border: 2px solid #e8c800;
  color: #e8c800;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: transparent;
}
.blueBtn.commButton i {
  color: #e8c800;
  margin-right: 5px;
}
.commButton.filledBtn {
  color: #ffffff;
  background-color: #e8c800;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 5px 20px;
}
.commButton.filledBtn i {
  color: #ffffff;
  margin-right: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
