<!-- header for HR -->
<ng-container *ngIf="!candidate">
  <app-navbar></app-navbar>
</ng-container>
<!-- <button (click)="createOpenTokSession()"> start video calling</button> -->
<!-- header for candidate -->
<ng-container *ngIf="candidate">
  <nav style="background:#E9F4FF;" class="customeNav">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo"><img src="assets/img/navbar-logo.png"
          style="vertical-align:middle;" /></a>
      <ul class="interview-title">
        <li>
          <a [routerLink]="['/video-call']" routerLinkActive="borderBA">
            Interview
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" routerLinkActive="borderBA">
            Home
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-container>
<div class="container" style="margin-top:15px;">
  <div class="row">
    <ng-container *ngIf="!candidate">
      <div class="col s12 m3 l3">
        <ng-container *ngIf="isRecruiter">
          <app-recruiter-navbar></app-recruiter-navbar>
        </ng-container>
        <ng-container *ngIf="!isRecruiter">
          <app-employer-navbar></app-employer-navbar>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="candidate">
      <div class="col s12 m3 l3">
      </div>
    </ng-container>
    <div class="col s12 m9 l9">

      <div class="video-call-execution-tab">
        <div class="upperBackDiv">
          <div class="backBtnDiv">
            <span *ngIf="!candidate && !isRecruiter" class="back" routerLink='/employer/video-interview-room'>
              < <span>
                Back
            </span>
            </span>
            <span *ngIf="!candidate && isRecruiter" class="back" routerLink='/recruiter/video-interview-room'>
              < <span>
                Back
            </span> </span>
          </div>
          <button *ngIf="candidateInfo?.bookmark && !candidate && isRecruiter" class="filledBtn commButton"
            (click)="bookmarkCandidate(false)">
            <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmarked
          </button>

          <button *ngIf="!candidateInfo?.bookmark && !candidate && isRecruiter" class="blueBtn commButton"
            (click)="bookmarkCandidate(true)">
            <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmark
          </button>
        </div>

        <div class="call" *ngIf="session">
          <div class="screens">
            <ng-container>
              <div class="candidate-container">
                <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session">
                </app-subscriber>
                <!-- <ng-container *ngIf="candidate">
                          <button type="button" routerLink='/' class="end-meeting">End Meeting</button>
                        </ng-container> -->
              </div>
            </ng-container>
            <div class="publisher-container">
              <app-publisher [session]="session"></app-publisher>
              <!-- archive button -->
              <ng-container *ngIf="!candidate">
                <div class="hidevideo">
                  <img src="../../assets/icons/icons8-no-video-30.png" *ngIf="!hideVideo" (click)="isVideo(true)">
                  <img src="../../assets/icons/image.png" *ngIf="hideVideo" (click)="isVideo(false)">
                </div>

                <div class="archive-copylink">
                  <!-- <div id="buttons"> -->
                  <button id="myBtn" class="copy-link" *ngIf="candidateInvitationLink"
                    (click)="copyText('https://www.hireseat.com/video-call/'+toCopylinkPublishedStreamId)"
                    value="click to copy">
                    Candidate Invitation Link
                  </button>
                  <button type="button" class="start-button" *ngIf="startArchiveButton" (click)="startArchive()">Start
                    Recording</button>
                  <button type="button" class="stop-button" *ngIf="stopArchiveButton"
                    (click)="stopArchive(archiveID)">Stop Recording</button>
                  <button type="button" class="view-button" *ngIf="viewArchiveButton" (click)="storeArchive()">Submit
                    Recording</button>
                  <!-- </div> -->

                  <!-- button for local -->


                  <ng-container *ngIf="!candidate && !isRecruiter">
                    <button type="button" routerLink='/employer/video-interview-room' class="end-meeting">
                      End
                      Meeting</button>
                  </ng-container>
                  <ng-container *ngIf="!candidate && isRecruiter">
                    <button type="button" routerLink='/recruiter/video-interview-room' class="end-meeting">End
                      Meeting</button>
                  </ng-container>
                </div>

                <!-- local end -->

                <!-- button for live -->
                <!-- <button *ngIf="!candidate" id="myBtn" class="copy-link"
                      (click)="copyText('https://www.hireseat.com/video-call/'+toCopylinkPublishedStreamId)"
                      value="click to copy">
                      Candidate Invitation Link
                    </button> -->
                <!-- live end -->

              </ng-container>
              <!-- archive and stop-copylink button end -->
            </div>
          </div>

          <ng-container *ngIf="candidate">
            <button type="button" routerLink='/' class="end-meeting">End Meeting</button>
          </ng-container>

        </div>






      </div>
      <!-- feedback area -->
      <div *ngIf="!candidate" class="singleList resumeSingleList margin-T50">
        <!-- <div class="PointsDiv commonSingleInner">
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="img-responsive" />
            <h4>Point 1</h4>

          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="img-responsive" />
            <h4>Point 2</h4>

          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="img-responsive" />
            <h4>Point 3</h4>

          </div>
        </div> -->

        <div class="docSection">
          <div class="docDiv">
            <img src="assets/img/doc.png" class="img-responsive" />
            <a [attr.href]="transform(candidateInfo?.fileURL)" target="_blank" download>
              <h4>Download Resume</h4>
            </a>
          </div>
        </div>



        <div class="ActionDiv commonSingleInner ">
          <div class="actionDivSingle">
            <div class="">
              <!-- [attr.id]="'Comments' + resume._id" -->
              <textarea [(ngModel)]="commentFromRecruiter" class="commentTxt" rows="5" cols="4"></textarea>
            </div>
            <!-- <div class="docDiv">
              <h4><span>Recruiter Cost:</span>20</h4>
            </div> -->

          </div>
          <button id="myBtn" *ngIf="isRecruiter" class="copy-link marL10" (click)="questionsPopUp()">
            Add Questions
          </button>
          <button id="myBtn" (click)="submitReview()" class="copy-link commButton marL10">
            Submit review
          </button>


        </div>

      </div>

      <!-- end of feedback area -->
    </div>


  </div>
</div>
<ng-container *ngIf="candidate">
  <app-footer></app-footer>
</ng-container>


<!--message pop up:START-->
<div id="emailConfirmPop" class="modal videoModalMain forumPopMain forumMsgPopup">
  <a (click)="closeEmailConfirmpopup()" class=" videoCloseBtn"><i class="material-icons">close</i></a>
  <div class="modal-content videoModalContent">
    <h4 class="slide-heading text-center"> Message</h4>
    <div class="modalBodyPop">
      <p>{{message}}</p>
    </div>
  </div>
</div>
<!--message pop up:END-->

<!--Submit pop up:START-->
<div id="questionsPop" class="modal videoModalMain forumPopMain forumMsgPopup ad1dQuetionPopup">
  <a (click)="closeQuestionConfirmpopup()" class=" videoCloseBtn"><i class="material-icons">close</i></a>
  <div class="modal-content videoModalContent blueBord addQuetion">
    <h4 class="slide-heading blueHeadng text-center"> Add Question Bookmarks/Time</h4>
    <div class="modalBodyPop noBord">
      <form [formGroup]="QuestionsGroup" (ngSubmit)="onSubmitQuestions()" class="padd30">
        <div class="questionDivPopup">
          <div class="form-group formFeild">
            <label class="control-label" for="email">Question 1 :</label>
            <div class="inputDiv">
              <input type="text" class="form-control questionInput" name="question" formControlName="question1">
            </div>
          </div>
          <div class="form-group formFeild">
            <label class="control-label" for="email">TimeStamp1 :</label>
            <div class="TimeStampInput">
              <input type="text" class="form-control questionInput" name="question" formControlName="timeStamp1">
            </div>
          </div>
        </div>
        <div class="questionDivPopup">
          <div class="form-group formFeild">
            <label class="control-label" for="email">Question 2 :</label>
            <div class="inputDiv">
              <input type="text" class="form-control questionInput" name="question" formControlName="question2">

            </div>
          </div>
          <div class="form-group formFeild">
            <label class="control-label" for="email">TimeStamp2 :</label>
            <div class="TimeStampInput">
              <input type="text" class="form-control questionInput" name="question" formControlName="timeStamp2">
              <!-- <span *ngIf="QuestionsGroup.get('timeStamp2').invalid &&
              (QuestionsGroup.get('timeStamp2').dirty ||
              QuestionsGroup.get('timeStamp2').touched)">
                Enter number only.
              </span> -->
            </div>
          </div>
        </div>
        <div class="questionDivPopup">
          <div class="form-group formFeild">
            <label class="control-label" for="email">Question 3 :</label>
            <div class="inputDiv">
              <input type="text" class="form-control questionInput" name="question" formControlName="question3">
            </div>
          </div>
          <div class="form-group formFeild">
            <label class="control-label" for="email">TimeStamp3 :</label>
            <div class="TimeStampInput">
              <input type="text" class="form-control questionInput" name="question" formControlName="timeStamp3">
            </div>
          </div>
        </div>

        <div class="questionDivPopup">
          <div class="form-group formFeild">
            <label class="control-label" for="email">Question 4 :</label>
            <div class="inputDiv">
              <input type="text" class="form-control questionInput" name="question" formControlName="question4">
            </div>
          </div>
          <div class="form-group formFeild">
            <label class="control-label" for="email">TimeStamp4 :</label>
            <div class="TimeStampInput">
              <input type="text" class="form-control questionInput" name="question" formControlName="timeStamp4">
            </div>
          </div>
        </div>

        <div class="questionDivPopup">
          <div class="form-group formFeild">
            <label class="control-label" for="email">Question 5 :</label>
            <div class="inputDiv">
              <input type="text" class="form-control questionInput" name="question" formControlName="question5">
            </div>
          </div>
          <div class="form-group formFeild">
            <label class="control-label" for="email">TimeStamp5 :</label>
            <div class="TimeStampInput">
              <input type="text" class="form-control questionInput" name="question" formControlName="timeStamp5">
            </div>
          </div>
        </div>
        <div class="popSubmitBtnDiv">
          <button type="submit" class="copy-link commButton marL10">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>
<!--Submit pop up:END-->