<!-- <div class="learnDiv" id="TheRockRec">
  <div class="container">
    <div class="headerDivLearn">
      <h2>The Rockstar Recruiter Community</h2>
    </div>
    <div class="learnList">
      <ul class="list">
        <li class="post-first hentry firstHentry">
          <h2 class="size-24 title">How to control nervousness in an interview- Amy Beaulieu "Leadership, Training,
            Design"</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/How_to_control_nervousness_in_an_interview-Amy_Beaulieu_Leadership_Training_Design.mp4')">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_18_414Z.jpeg"
              src="/assets/videos/How_to_control_nervousness_in_an_interview-Amy_Beaulieu_Leadership_Training_Design.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>
        <li class="post-first hentry">
          <h2 class="size-24 title">Best Interview Body Language Tip- Amy Beaulieu "Leadership, Training, Design"</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/Best_Interview_Body_Language_Tip-Amy_Beaulieu_Leadership_Training_Design.mp4')">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_40_189Z.jpeg"
              src="assets/videos/Best_Interview_Body_Language_Tip-Amy_Beaulieu_Leadership_Training_Design.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>
        <li class="post-first hentry">
          <h2 class="size-24 title">Best tip for negotiating a higher salary- Amy Beaulieu "Leadership, Training,
            Design"</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/Best_tip_for_negotiating_a_higher_salary-Amy_Beaulieu_Leadership_Training_Design.mp4')">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_18_414Z.jpeg"
              src="assets/videos/Best_tip_for_negotiating_a_higher_salary-Amy_Beaulieu_Leadership_Training_Design.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>
        <li class="post-first hentry">
          <h2 class="size-24 title">Can you fake confidence?- Amy Beaulieu "Leadership, Training, Design"</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/Can_you_fake_confidence-Amy_Beaulieu_Leadership_Training_Design.mp4')">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_40_189Z.jpeg"
              src="assets/videos/Can_you_fake_confidence-Amy_Beaulieu_Leadership_Training_Design.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>
        <li class="post-first hentry">
          <h2 class="size-24 title">Rockstar HR Manager Sonia Chaves explains how she made the move from Agency to Corp
            recruiting</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/Rockstar_HR_Manager_Sonia_Chaves_explains_how_she_made_the_move_from_Agency_to_Corp_recruiting.mp4')">
            <video id="video3" height="100%" style="width:100%" poster="assets/thumbmails/sonia_chaves_manager.jpg"
              src="assets/videos/Rockstar_HR_Manager_Sonia_Chaves_explains_how_she_made_the_move_from_Agency_to_Corp_recruiting.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>

        <li class="post-first hentry">
          <h2 class="size-24 title">Rockstar HR Manager Sonia Chaves explains the biggest difference between Agency and
            Corp Recruiters</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/Rockstar_HR_Manager_Sonia_Chaves_explains_the_big_gest_difference_between_Agency_and_Corp_Recruiters.mp4')">
            <video id="video4" height="100%" style="width:100%" poster="assets/thumbmails/sonia_chaves_manager.jpg"
              src="assets/videos/Rockstar_HR_Manager_Sonia_Chaves_explains_the_big_gest_difference_between_Agency_and_Corp_Recruiters.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>

        </li>

        <li class="post-first hentry">
          <h2 class="size-24 title">NYC's Best Recruiter explains what is important in a resume</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/NYCs_Best_Recruiter_explains what_is_important_in_a_resume.mp4')">
            <video id="video1" height="100%" style="width:100%" poster="assets/thumbmails/thumbnail1.PNG"
              src="assets/videos/NYCs_Best_Recruiter_explains what_is_important_in_a_resume.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>
        </li>
        <li class="post-first hentry">
          <h2 class="size-24 title">NYC's Best Recruiter shares his best tip to land your dream job</h2>
          <div class="videoDiv"
            (click)="showVideo('assets/videos/NYCs_Best_Recruiter_shares_his_best_tipto_land_your_dream_job.mp4')">
            <video id="video2" height="100%" style="width:100%" poster="assets/thumbmails/thumbnail2.PNG"
              src="assets/videos/NYCs_Best_Recruiter_shares_his_best_tipto_land_your_dream_job.mp4">
              Your browser does not support the video tag.
            </video>
            <a><i class="material-icons ">play_circle_outline</i></a>
          </div>

        </li>



      </ul>
    </div>
  </div>
</div>



<button (click)="topFunction()" id="myBtn" title="Go to top">Top</button>

<div id="VideoModal" class="modal videoModalMain">
  <a (click)="closeVideoModal()" class=" videoCloseBtn"><i class="material-icons">close</i></a>
  <div class="modal-content videoModalContent">

    <video id="selectedVideo" height="100%" style="width:100%" controls [src]="videoUrl">
      Your browser does not support the video tag.
    </video>

  </div>

</div> -->
<div class="recruiterCommity">
  <div class="recruiterCommityInner">
    <h4 class="SecHeading blackHed">The Rockstar Recruiter Community</h4>
    <div class="row flexWrap">
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(theBiggestDiff)">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_18_414Z.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>The biggest difference between Agency and Corp Recruiters - Rockstar HR Manager Sonia Chaves</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(nervousness)">
            <video id="video3" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_40_189Z.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>How to control nervousness in an interview- Amy Beaulieu "Leadership, Training, Design"</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(nyc)">
            <video id="video1" height="100%" style="width:100%" poster="assets/thumbmails/thumbnail1.PNG">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>NYC's Best Recruiter explains what is important in a resume</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(fixing)">
            <video id="video3" height="100%" style="width:100%" poster="assets/thumbmails/Screenshot_4.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>Fixing the Job Interview Process - Hireseat - Raya Rahbari</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(bestWay)">
            <video id="video3" height="100%" style="width:100%" poster="assets/thumbmails/Screenshot_6.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>Best way to prepare for an interview | HIRESEAT | LIZ OTTO [CAREER SERVICES]</h4>
        </div>
      </div>

      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(howToAnsBigg)">
            <video id="video3" height="100%" style="width:100%" poster="assets/thumbmails/Screenshot_7.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>How to answer the biggest weakness question - Ian Klein "L&D Executive, Facilitator, Designer"</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(toxic)">
            <video id="video3" height="100%" style="width:100%" poster="assets/thumbmails/Screenshot_8.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>How to improve a toxic work culture | Hireseat - Raya Rahbari</h4>
        </div>
      </div>
      <div class="col s12 m6 l3 paddLR10">
        <div class="imgDivVideoDiv">
          <!-- <img src="assets/img/videoImg.png" class="VideoImg"> -->
          <div class="videoDiv" *ngIf="homeVideos" (click)="showVideo(fakeConfidence)">
            <video id="video2" height="100%" style="width:100%"
              poster="assets/thumbmails/Skype_Picture_2019_04_08T12_54_40_189Z.png">
              Your browser does not support the video tag.
            </video>
            <a><img src="assets/img/playIcon.png" class="playIconImg"></a>
          </div>
          <h4>Can you fake confidence?- Amy Beaulieu "Leadership, Training, Design"</h4>
        </div>
      </div>
    </div>
    <!-- <div class="text-center">
        <img src="assets/img/leftArrowIcon.png" class="arows">
        <img src="assets/img/rightArrowIcon.png" class="arows">
    </div> -->
  </div>
</div>
<button (click)="topFunction()" id="myBtn" title="Go to top" class="stickyBtn"><i class="fa fa-angle-up"
    aria-hidden="true"></i></button>
<div id="VideoModal" class="modal videoModalMain">
  <a (click)="closeVideoModal()" class=" videoCloseBtn"><i class="material-icons">close</i></a>
  <div class="modal-content videoModalContent">

    <video id="selectedVideo" height="100%" style="width:100%" controls [src]="videoUrl">
      Your browser does not support the video tag.
    </video>

  </div>

</div>