.collection .collection-item {
  border-bottom: none;
}
.collection a.collection-item {
  display: block;
  transition: 0.25s;
  color: #48aef3 !important;
  font-size: 15px;
}
.collection {
  border: none !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.collection .collection-item.active {
  background-color: #48aef3;
  color: #fff !important;
}
.text-center {
  text-align: center;
}
.padd15 {
  padding: 15px;
}

.mar0 {
  margin: 0px;
}
.rewarDiv a {
  display: block;
}
.padd0 {
  padding: 0;
}
