<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#33AAFF" type="cube-transition"></ngx-spinner> -->

<ng-container *ngIf="!isTokenValid && !showCustomLoader">
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-container>
<div class="mainPageBg">
  <ng-container>
    <nav style="background:#E9F4FF;" class="customeNav">
      <div class="nav-wrapper container">
        <a [routerLink]="['/']" class="brand-logo"><img src="assets/img/navbar-logo.png"
            style="vertical-align:middle;" /></a>
      </div>
    </nav>
  </ng-container>
  <ng-container *ngIf="isTokenValid">
    <div class="MainTempMiddle">
      <div class="mainTemplate">
        <ng-container>
          <!-- <div class="interviewVideoDiv stickyDiv"> -->
          <div class="container">
            <!-- call video questions -->
            <ng-container *ngIf="videoURL">
              <app-video-questions
                [options]="{ autoplay: false, controls: true, sources: [{ src: videoURL, type: 'video/mp4' }]}"
                [resume]="resume" [questionNumber]="questionNumber" [questionsByRecruiter]="questionsByRecruiter">
              </app-video-questions>
            </ng-container>
          </div>
        </ng-container>
        <div class="ListResume">
          <!-- <ul class="ListResume"> -->
          <!-- other li div -->
          <!-- <li> -->
          <div class="singleList employerResume resumeSingleList">
            <div class="docSectionBtns">
              <div class="candidate-name">
                <span>
                  {{resume?.candidateName}}
                </span>
              </div>
              <div>
                <button class="downloadResume">
                  <a [attr.href]="transform(resume?.fileURL)" target="_blank" download>
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>Download Resume
                  </a>
                </button>
                <button class=" LikedInBtn" *ngIf="resume?.linkedIn" (click)="linkedIn(resume?.linkedIn)">
                  <a>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>linked In
                  </a>
                </button>
              </div>
            </div>
            <ng-container *ngIf="!isShareFromRecruiter">

              <div class="singleListData">
                <div class="PointsDiv commonSingleInner">
                  <div class="PointsDivSingle PointsDivSingleN">
                    <img src="assets/img/checkIcon.png" class="green-tick" />
                    <h4>{{ currentResume.StrongPoint1 }}</h4>
                  </div>
                  <div class="PointsDivSingle PointsDivSingleN">
                    <img src="assets/img/checkIcon.png" class="green-tick" />
                    <h4>{{ currentResume.StrongPoint2}}</h4>

                  </div>
                  <div class="PointsDivSingle PointsDivSingleN">
                    <img src="assets/img/checkIcon.png" class="green-tick" />

                    <h4>{{ currentResume.StrongPoint3 }}</h4>

                  </div>
                </div>

              </div>
            </ng-container>
            <ng-container *ngIf="isShareFromRecruiter">
              <div class="singleListData">
                <div class="PointsDiv commonSingleInner">
                  <div class="PointsDivSingle PointsDivSingleN">

                    <h4>{{ comments }}</h4>

                  </div>

                </div>

              </div>
            </ng-container>

          </div>
          <!-- </li> -->
          <!-- </ul> -->
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showError">
    <div class="mainTempExpire">
      <div class="invalid-token-container">
        <span class="msg">
          <h2>This link is expired. It was only valid for 24 hours. Contact your Recruiter for another link.</h2>
        </span>
        <span>
          <span class="contact-email">
            <h2>- contact@hireseat.com</h2>
          </span>

        </span>
        <div class="logo-section">
          <a [routerLink]="['/']" class="brand-logo "><img src="assets/img/HSfooterLogo.png"
              style="vertical-align:middle;" /></a>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="footer">
    <a [routerLink]="['/']" class="brand-logo footerLogo"><img src="assets/img/HSfooterLogo.png"
        style="vertical-align:middle;" /></a>
    <a [routerLink]="['/']" class="link">
      www.hireseat.com
    </a>
  </div>
</div>