@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@import "~video.js/dist/video-js.css";

/* .container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
} */
.mainPageBg {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100vh;
}
.mainTemplate {
  /* padding: 20px 150px 80px; */
  padding: 20px 150px;
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  min-height: calc(100vh - 134px);
  /* position: relative; */
}
.mainTempExpire {
  padding: 20px 150px;
  height: calc(100vh - 134px);
}
.interviewVideoDiv {
  width: 100%;
  float: left;
  /* height: 500px; */
  height: auto;
  text-align: center;
  display: flex;
  /* justify-content: flex-end; */
  background-color: black;
}
.leftSideQuetion {
  width: 50%;
  padding: 20px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px #ccc; */
}
.video-interview {
  width: 50%;
  height: 100%;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.playPause {
  width: 80px;
  height: 80px;
  position: absolute;
}
.playPause img {
  width: 100%;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.video-js:focus {
  outline: none;
}
.ListResume {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  /* height: calc(100vh - 540px);
            overflow: scroll; */
}

.leftSideQuetion h2 {
  font-size: 32px;
  text-align: left;
  color: #33aaff;
  margin: 0 0 30px;
}
.interviewQue h4 {
  margin: 30px 0;
  font-size: 17px;
  text-align: left;
}
.interviewQue h4 a {
  color: #ffffff;
  cursor: pointer;
}
.interviewQue h4 a:hover {
  font-weight: bold;
  color: #33aaff;
}
.interview-bold {
  font-weight: lighter !important;
  color: #33aaff !important;
}
.singleList.employerResume {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  display: block;
  justify-content: unset;
  margin-bottom: 30px;
  transition: 1s;
  height: auto;
  background-color: #ffffff;
}
.docSectionBtns {
  text-align: left;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e5e5e5;
}
.PointsDivSingle {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.white-tick {
  width: 24px;
}
.PointsDivSingle h4 {
  margin: 0 20px;
  font-size: 16px;
  color: #919191;
  word-wrap: break-word;
  white-space: pre-line;
}
.active-resume {
  background-color: #33aaff !important;
}
ul:not(.browser-default) > li {
  list-style-type: none;
}
.downloadResume {
  border: 2px solid #39aaff;
  background-color: transparent;
  color: #39aaff;
}
.downloadResume:hover {
  background-color: #39aaff;
}
.downloadResume:hover a,
.downloadResume:hover a i {
  color: #ffffff;
}
.LikedInBtn{
    background-color: #0e76a8;
    border: 1px solid #0e76a8;
    margin-left: 10px;
    min-width: 125px !important;
}
.LikedInBtn a, .LikedInBtn a i {
  color: #ffffff;
}

.docSectionBtns {
  text-align: right;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}
.docSectionBtns button {
  font-size: 15px;
  min-width: 170px;
  border-radius: 5px;
  padding: 5px 20px;
}
.docSectionBtns button i {
  margin-right: 10px;
}
.candidate-name {
  color: #33aaff;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.video-interview {
  width: 60%;
  height: 100%;
}
.footerLogo img {
  /* width: 4.5%; */
  width: auto;
  height: 100%;
}
.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  float: left;
  height: 70px;
  background-color: #fff;
  color: white;
  text-align: center;
  box-shadow: 0px 1px 10px #3e3e3e14;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
.invalid-token-container h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 15px 0;
}

.invalid-token-container .contact-email h2 {
  font-size: 21px;
}

@media only screen and (min-width: 990px) and (max-width: 1250px) {
  .nav-wrapper.container {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  nav.customeNav ul a {
    color: #1c2d41;
    padding: 0 20px;
  }
}
.nav-wrapper.container {
  width: 100% !important;
  display: flex;
  justify-content: center;
  /* box-shadow: 0px 1px 10px #3e3e3e14; */
}
nav.customeNav {
  background: #fff !important;
  box-shadow: none;
  border-bottom: 0px solid #34aafd;
}
/* .footer {
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
} */
.link {
  color: #34aafd;
  cursor: pointer;
}
.invalid-token-container {
  width: 100%;
  height: 100%;
  /* height: calc(100vh - 250px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #16161612;
}
.singleList {
  border-radius: 0px !important;
  margin-top: 10px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .MainTempMiddle {
    min-height: calc(100vh - 112px);
  }
  .mainTemplate {
    /* padding: 20px 15px 110px; */
    padding: 20px 15px 20px;
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end; */
  }
  .mainTempExpire {
    padding: 20px 15px;
    min-height: calc(100vh - 112px);
  }
  /* .interviewVideoDiv {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  } */
  .leftSideQuetion {
    width: 100%;
  }
  .video-interview {
    width: 100%;
    height: auto;
    /* height: 260px !important; */
  }
  .video-interview .video-js {
    width: auto;
    height: 260px !important;
  }
  .commonSingleInner {
    width: 100% !important;
  }
  .leftSideQuetion h2 {
    font-size: 25px;
  }
  .interviewQue h4 {
    font-size: 15px;
    margin: 25px 0;
  }
  .docSectionBtns button {
    font-size: 13px !important;
    min-width: 100px !important;
    margin: 0 0 0 10px !important;
    padding: 5px 10px !important;
  }
  .PointsDivSingle h4 {
    font-size: 14px;
  }
  .singleList.employerResume {
    margin-bottom: 20px;
    margin-top: 15px !important;
  }
  .footer {
    height: 56px;
  }
  .mainTempExpire .brand-logo img {
    width: 100%;
  }
  .invalid-token-container h2 {
    font-size: 19px !important;
    margin: 10px 0 !important;
  }
  .contact-email h2 {
    font-size: 18px !important;
  }
  .docSectionBtns .LikedInBtn{
    min-width: 160px !important;
    margin: 0 0 0 10px !important;
    margin-top: 5px !important;
  }
}
.video-js-without-questions {
  width: 100% !important;
  height: 100% !important;
}

/* loader */
.loader-container {
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
}
.vjs-waiting {
  visibility: hidden;
  background: transparent;
}
.vjs-loading-spinner {
  display: none !important;
}
.bg {
  background: transparent;
  /* background-color: black; */
}
/* .video-js.vjs-custom-waiting .vjs-loading-spinner:before,
.video-js.vjs-custom-waiting .vjs-loading-spinner:after {
  -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8)
      infinite,
    vjs-spinner-fade 1.1s linear infinite;
  animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    vjs-spinner-fade 1.1s linear infinite;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
} */
/* mat video  */
.controls .progress {
  height: 3px !important;
}
.video-interview .progress {
  background-color: #fff !important;
  height: 3px !important;
}
