<div class="createpostMainDiv">
  <form [formGroup]="addpost">
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Add New video Post</h4>
      </div>
      <div class="clearfix"></div>
      <div class="col m12 s12 l8">
        <div class="inputDiv">
          <!-- <input type="text" class="titleEnter" placeholder="Enter title here" name ="" [(ngModel)] ='blogUrl'  (ngModelChange)="blogUrl = unmask($event)" [ngModelOptions]="{standalone: true}" > -->
          <input
            type="text"
            class="titleEnter"
            placeholder="Enter title here"
            formControlName="title"
            (input)="onchange(this.addpost.controls.title.value)"
          />

          <!-- <div *ngIf="f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required"> title is required*</div>
        </div> -->
        </div>
        <div class="urlDiv">
          <p>
            <b>Permalink:</b> {{ permaLink
            }}<span class="blogurlClass">{{ blogUrl }}</span>
          </p>
          <!--<button class="okBtn" (click)="showeditUrl()">Edit</button> -->
          <!--          
          <div *ngIf="showEditUrl">
            <input type="text" class="titleEnter"  formControlname="editBlogUrl" placeholder="Enter URl here">
            <button class="okBtn">Ok</button><a>Cancel</a>
          </div> -->
        </div>
        <!-- <div class="text-left">
        <button class="btn editFusionBuilderBtn">Edit with fusion Builder</button>
      </div>
      <div class="text-left">
          <button class="btn AddMediaBtn">Add Media</button>
      </div> -->
        <div class="editerDIv">
          <!-- <textarea rows="10"></textarea> -->
          <!-- <editor apiKey="mdwbvawcfes6kt8vty75gmpchmbwscurhcux0nfhjg374rpa" [init]="{ selector: 'textarea',
        plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste tinycomments tinydrive tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile pageembed permanentpen',
        toolbar_drawer: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name'}" (onSelectionChange)="handleEvent($event)"></editor> -->
          <!-- <ck-editor name="myckeditor" formControlName="postDescription" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> -->

          <ckeditor
            formControlName="postDescription"
            name="myckeditor"
            required
            [config]="ckeConfig"
            debounce="500"
          >
          </ckeditor>
          <!-- <div *ngIf="(f.jobDescription.touched && f.jobDescription.errors)" class="invalid-feedback"
                    class="error">
                    <div *ngIf="f.jobDescription.errors.required">Job Description is required</div>
                </div> -->
        </div>
        <div class="customeKeyword marT">
          <h4 class="secHead">custome Keyword</h4>
          <div class="customeText">
            <p>First create post for adding keywords.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <button
          class="btn publishBtn"
          [disabled]="videouploading"
          (click)="getData()"
        >
          Publish
        </button>
        <!-- <div class="customeKeyword">
            <h4 class="secHead">Format</h4>
            <div class="customeText">

                <label class="radioBtnL">Standard 
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>

                <label class="radioBtnL">Gallery 
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>

                <label class="radioBtnL">Link 
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                </label>

                <label class="radioBtnL">Image 
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>

                  <label class="radioBtnL">Quote 
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>

                  <label class="radioBtnL">Video 
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>

                  <label class="radioBtnL">Audio 
                      <input type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span>
                    </label>

                  <label class="radioBtnL">Chat
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                  </label>  

             </div>
          </div> -->

        <div class="customeKeyword marT">
          <h4 class="secHead">Add catagory</h4>

          <div class="customeText scrollDiv">
            <label
              class="checkboxL"
              formArrayName="categoriesData"
              *ngFor="
                let categ of addpost.controls.categoriesData;
                let i = index
              "
            >
              <input type="checkbox" [formControlName]="i" />
              {{ categoriesData[i]?.categoryName }}
              <span class="checkmarkC"></span>
            </label>
            <!-- <div *ngIf="!addpost.valid">At least one order must be selected</div> -->
          </div>

          <a
            *ngIf="showcatbutton"
            (click)="showAddCatgory()"
            class="addCatagoryA"
            >+ Add New Category</a
          >
          <div class="addcatagory" *ngIf="showAddCatg">
            <form [formGroup]="addNewCateg">
              <input
                type="text"
                class="catagoryText"
                formControlName="categoryName"
              />
              <!-- <select  class="catagoryText">
                      <option>new catagory</option>
                      <option>new catagory</option>
                      <option>new catagory</option>
                    </select> -->
              <div class="btnDiv DiF">
                <button
                  class="waves-effect waves-light btn addCateButton marR5"
                  (click)="addNewCategory()"
                >
                  Add New Catagory
                </button>
                <button
                  class="waves-effect waves-light btn cancelBtn addCateButton"
                  (click)="Cancel()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="customeKeyword marT">
          <h4 class="secHead">Video</h4>
          <div class="customeText">
            <input
              type="radio"
              name="radio"
              (change)="getvideo('embedded')"
            /><span>Video Link</span>&nbsp;&nbsp;
            <input
              type="radio"
              name="radio"
              (change)="getvideo('local')"
            /><span>Video File</span> &nbsp;&nbsp;

            <div *ngIf="diplayvideo == 'embedded'">
              <input
                type="text"
                placeholder="enter youtubelink here"
                formControlName="Video"
              />
              <!-- <div *ngIf="addpost.controls['Video'].errors.pattern">youtube url is not valid</div> -->
            </div>
            <div *ngIf="diplayvideo == 'local'">
              <div class="uploadBtnDiv">
                <input
                  type="file"
                  accept="video/*"
                  formControlName="videofile"
                  (change)="previewvideo($event)"
                />
                <button class="waves-effect waves-light btn uploadBtn">
                  Upload
                </button>
              </div>
              <div *ngIf="uploadResponse.status == 'progress'">
                <div
                  role="progressbar"
                  class="progress-bar"
                  [style.width.%]="uploadResponse.message"
                >
                  {{ uploadResponse.message }}%
                </div>
                {{ uploadResponse.message }}%
              </div>
              <h6 *ngIf="uploadResponse.message == 'sucess'">
                video uploaded sucessfully......!
              </h6>
            </div>
          </div>
        </div>
        <app-edit-tag (tagListArray)="eventHandler($event)"></app-edit-tag>

        <!-- <div class="customeKeyword marT">
            <h4 class="secHead">Tags</h4>
            <div class="customeText">
                <button class="btn AddMediaBtn titleEnter" (click)="showTagForm()" >AddTag </button>
                <div *ngIf="showtag" class="tagDIv">
                  <input type="text"  [(ngModel)] ='createTags' formControlName="tags" placeholder="Enter New Tag">
                  
                  <button class="btn AddMediaBtn titleEnter" (click)="addTag($event,createTags)" >Add </button>
                    <ul *ngFor="let tagArray of tagsData let i of index">
                       <li>{{tagArray.value}}</li>
                       <li><button class="btn AddMediaBtn titleEnter" (click)="removeTag(tagArray.value)" >remove</button></li>
                </ul>
                  </div>
            </div>
        </div> -->
      </div>
    </div>
  </form>
</div>
