/* nav ul a{
    color:#03a9f4;
}
#nav-mobile{
    transform: none !important;
}
.job-title{
    font-size:20px;  
    color:#114488;
    font-weight:700;
}
.company-name{
    font-size:14px;
    color:#607d8b;
}

.navbar-fixed .dropdown-button {
    width: 100%;
    float: left;
    border-bottom: 1px solid #9e9e9e;
    color: #9e9e9e;
    cursor: pointer;
}
.navbar-fixed .dropdown-button:focus {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
} */


/* @font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MyriadPro-Regular';
    src:  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
          url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MyriadPro-Bold';
    src:  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
          url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  } */
  
  /* common css */
  /* h1, h2, h3, h4, h5{
      font-family: 'MyriadPro-Regular';
  } */
  h1, h2, h3, h4, h5{
      /* font-family: 'Rajdhani', sans-serif; */
      /* font-family: 'Times New Roman', Times, serif; */
  }
  .fullwidth{
      width:100%;
      float:left;
  }
  .jobManegement {
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px #80808080;
  }
  .custContainer {
    width: 100%;
    max-width: 1170px;
    position: relative;
}

  .blueSection a{
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
  .remainingtext {
      font-size: 20px;
      color: #33AAFF;
      border: 2px solid #33AAFF;
      margin: 0;
      padding: 10px 20px;
      border-radius: 10px;
      position:relative;
  }
 
  .secHead {
      color: #33AAFF;
      margin: 20px 0 40px 0;
      font-size: 35px;
      font-weight:bold;
      /* font-family: 'Rajdhani', sans-serif; */
  }
  .secHead  span {
      color: #ff4526;
  }
  .salHead {
      font-size: 20px;
      color: #33AAFF;
      display: inline-block;
      /* margin: 0px 40px; */
      margin: 0;
  }
  .reward {
      font-size: 30px;
      color: #ffc105;
      display: inline-block;
      font-weight:bold;
      margin: 0px 0 50px;
      /* font-family: 'Rajdhani', sans-serif; */
  }
  
  /* tab style */
  .bx-pager {
    display: flex;
    align-items: center;
    height: 50px;
    border-left: 1px solid #a5dafe;
    position: absolute;
    width: 104%;
    top: -52px;
    background-color: transparent;
  }
  .bx-pager .bx-pager-item {
      display: flex;
      align-items: center;
      height: 100%;
      flex: 0 19%;
      border-top: 1px solid #a5dafe;
      border-bottom: 1px solid #a5dafe;
      background-color: #fff;
  }
 
  .bx-pager .bx-pager-item .bx-pager-link {
    text-decoration: none;
    color: #3af;
    font-size: 18px;
    flex: 1;
    padding-left: 35px;
    text-align: center;
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: bold;
  }
  .bx-pager .bx-pager-item .arrow {
    border: solid #a5dafe;
    display: inline-block;
    padding: 13px;
    border-width: 0 1px 1px 0;
    -webkit-transform: translateY(21.5px) rotate(-45deg) skew(-16deg, -12deg) translateX(24px);
    transform: translateY(21.5px) rotate(-45deg) skew(-16deg, -12deg) translateX(24px);
    background-color: #fff;
  }
  .bx-pager .bx-pager-item.active {
      background-color: #39aaff;
  }
  .bx-pager .bx-pager-item.active .bx-pager-link {
      color: #fff;
      font-size: 20px;
  }
  .bx-pager .bx-pager-item.active .arrow {
      background-color: #39aaff;
  }
  .tabSection {
      position: relative;
      width: 100%;
      float: left;
  }
  /* custome tab style */
  
  .tabSection .nav>li {
      position: unset;
  }
  .tabSection .nav-tabs>li.active>a, .tabSection .nav-tabs>li.active>a:focus, .tabSection .nav-tabs>li.active>a:hover {
      background-color: transparent;
      border: none;
      border-bottom-color: transparent;
  }
  .tabSection .nav>li>a:focus, .tabSection .nav>li>a:hover {
      text-decoration: none;
      background-color: transparent;
  }
  .nav-tabs>li>a:hover {
      border-color: transparent;
  }
  .tabSection .nav-tabs {
      border-bottom: none;
  }
  .allResume {
    color: #33aaff;
    font-size: 20px;
    margin: 50px 0 30px;
    font-weight: bold;
}
.actionDIv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #33aaff;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 50px;
}
.actionDIv h4 {
    width: 33%;
    text-align: center;
    color: #33aaff;
    font-size: 20px;
}
  .ListResume {
      list-style: none;
      padding: 0;
  }
  .singleList {
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0px 5px 70px #9999;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
  }
  .commonSingleInner {
      width: 25%;
  }
  .feedbackDiv.commonSingleInner {
      width: 45%;
  }
  .PointsDiv.commonSingleInner {
      border-right: 1px solid #999;
  }
  .PointsDivSingle {
      display: flex;
      align-items: center;
      margin: 10px 0;
  }
  .PointsDivSingle h4{
      margin: 0 20px;
      font-size: 16px;
      color: #919191;
  }
  .startDiv {
      display: flex;
  }
  .feedbackDiv .PointsDivSingle h4 {
      margin: 0 20px;
      font-size: 19px;
      color: #b6b6b6;
      min-width: 150px;
  }
  .feedbackDiv .PointsDivSingle img {
      margin: 0 5px;
  }
  .feedbackDiv .PointsDivSingle {
      display: flex;
      align-items: baseline;
      margin: 10px 0;
      justify-content: center;
  }
  .ActionDiv.commonSingleInner {
      width: 30%;
  }
  .ActionDiv h5 {
      color: #30496f;
      font-size: 14px;
  }
  .comment {
      border-radius: 10px;
      border: 1px solid #ddd;
      padding: 10px;
      background-color: #f2f2f2;
  }
  .comment h4{
      font-size: 14px;
      color: #747474;
      margin: 0;
  }
  .overStart:hover {
      filter: invert(300%);
  }
   .docDiv h4{
      color: #30496f;
      font-size: 14px;
  }
  .commonRejectApprove {
      width: auto;
  }
  .commonBtn{
      min-width: 120px;
      background-color: transparent;
      margin: 10px 20px !important;
      /*padding: 3px 0;*/
      /* font-family: 'Rajdhani', sans-serif; */
  }
  .commonBtn.RejectBtn {
      border: 1px solid #f32222;
      border-radius: 25px;
      color: #f32222;
      font-size: 16px;
  }
  .commonBtn.approveBtn {
      border: 1px solid #329132;
      border-radius: 25px;
      color: #329132;
      font-size: 16px;
  }
  .resumeSingleList .PointsDiv.commonSingleInner {
      border-right: 0px solid #999;
  }
  .resumeSingleList
  
  .approveBtnDiv {
      width: 20%;
  }
  .docSection {
      width: 22%;
      text-align: center;
  }
   .docSection img{
      margin: 0 auto;
  }
  .docDiv {
      border-right: 1px solid #999;
      border-left: 1px solid #999;
  }
  /* tab style close*/
  .posRel{
      position: relative;
  }
  .logoHome{
    position: absolute;
    right: -6px;
    top: -10px;
    height: 110px;
    width: auto;
  }

  /* new css added for ask questions and answers*/
.quetionAns{
    background-color: #fff;
    box-shadow: 0 0 10px #c0c0c0;
    width: 330px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 90px;
}
.quetionAns h2{
    color: #12466e;
    font-size: 21px;
    margin-top: 0;
}
.quetion {
    border-bottom: 1px solid #e9e9e9;
}
.quetion h5{
    font-size: 16px;
    color: #454545;
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
 span.labelclass{
    font-weight: 600;
    color: #454545;
    min-width: 40px;
    text-align: right;
    padding: 0 10px 0 0px;
}
.quetionAns p{
    color: #747474;
    font-size: 14px;
    margin-top: 0;
    display: flex;
}
.closeBtn {
    background-color: #68f25f;
    width: 20px;
    height: 20px;
    color: #fff;
    /* font-weight: bold; */
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.eventDetails{
    position: relative;
    width: 100%;
    float: left;
}
.quetion.onlyQue h5, .quetion.onlyQue h5 span.labelclass{
font-weight: normal;
}
.quetion.onlyQue a{
    color: #088ff8;
    font-weight: 700;
    padding-left: 40px;
}
.writeAns h5{
    font-weight: normal;
    font-size: 16px;
}
.writeAns h5 span.labelclass{
    font-weight: normal;
}
.nobord{
    border-bottom: 0;
}
.writeAns {
    padding-top: 30px;
}
.writeAns textarea{
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.writeAns textarea::placeholder{
    color: #787878;
}
.writeAns button{
    background-color: #39aaff;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #39aaff;
    border-radius: 8px;
    float: right;
    margin-top: 5px;
}
  /*==================================== responsive css start  =================================*/
/*================================ i-pad responsive css start  ===============================*/

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {
	.jobManegement {
    padding: 15px 15px;
}
.salPerYear {
    width: 100%;
    float: left;
    margin: 0 0 35px;
}
.bx-pager{
    width: 100%;
    left: 0px;
}
.tabSection {
    padding: 0 15px;
}

}
/*================================ i-pad responsive css end  ===============================*/
/*================================ mobile responsive css start  ===============================*/

@media only screen 
and (min-width : 320px) 
and (max-width : 767px)  {

}
/*================================ mobile responsive css end  ===============================*/