nav ul a{
    color:#03a9f4;
}
#nav-mobile{
    transform: none !important;
}
.mobileMenu-li{
    color: #1c8ad8;
    font-size: 14px;
    
}
.mobileMenu-li:hover{
    color: #fff;
    background-color: #48aef3;
    font-weight: bold;
}
.LogOutOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #48aef3;
    color: #fff;
    margin-top: 8px;
    height: 45px;
    padding: 0 20px;
    margin-bottom: 12px;
}
.LogOutOption h4 {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}
.LogOutOption a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0 10px;
    box-shadow: 0px 1px 3px #a0a0a0;
}
.mobileHeadRe{
    display:none;
}
h4.count{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #48aef3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    right: 5px;
    top: -10px;
}
nav ul li {
    position: relative;
}
@media only screen 
and (min-width:320px)
and (max-width:667px){
    .mobileHeadRe{
        display:flex;
    }
    .desktopRe{
    display:none;
}
}
.notificationList {
    position: absolute;
    width: 400px;
    right: 0;
    padding: 0px 0px;
    top: 70px;
    z-index: 99;
    border: 1px solid #1c6fa9;
    background-color: #48aef3;
    border-radius: 5px;
}
.notificationList li {
    display: block;
    color: #000;
    width: 100%;
    margin: 0;
    line-height: 2;
    font-size: 16px;
    font-weight: bold;
}
h4.count {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #48aef3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    right: 5px;
    top: -10px;
}
.hide-on-med-and-down li{
    position: relative;
}



.notificationListInner {
	position: relative;
}
.notificationListInner:after, .notificationListInner:before {
	bottom: 100%;
	left: 87%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.notificationListInner ul a {
    color: #ffffff;
    margin: 5px 10px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: normal;
}
.notificationListInner:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #1c6fa9;
    border-width: 17px;
    top: -35px;
}
.notificationListInner ul{
    max-height: 400px;
    overflow-y: auto;
    min-height: 130px;
}



/* width */
.notificationListInner ul::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .notificationListInner ul::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .notificationListInner ul::-webkit-scrollbar-thumb {
    background: #fff; 
  }
  
  /* Handle on hover */
  .notificationListInner ul::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }
  .hederNotification {
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
    background-color: #1a6ca5f2;
    border-radius: 5px 5px 0px 0px;
}
.hederNotification h4{
    margin: 0;
    padding: 10px 0px;
    font-size: 25px;
    font-weight: bold;
}