<!--  <li><a [routerLink]="['/rules']">Scoring Rules</a> -->
<!-- <div class="">

  <nav class="white">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo"><img src="assets/img/navbar-logo.png"
          style="vertical-align:middle;" /></a>
      <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons"
          style="color: #48aef3;">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/contact-us']">Contact Us</a>
        <li><a [routerLink]="['/home/LeaderBoard']">Leader Board</a>
        <li><a [routerLink]="['/home/TheRockRec']">The Rockstar Recruiter Community</a>
       
        <li><a [routerLink]="['/employer/profile']">My Profile</a></li>
        <li><a [routerLink]="['/blog']">Blog</a></li>

        <li>
        <ng-container *ngIf="show">
            <div class="notificationList" >
                <div class="notificationListInner" >
                  <div class="hederNotification">
                    <h4>Notification</h4>
                  </div>
                  <ul>
                    <li *ngFor="let ques of questDataLenght"><a [routerLink]="['/forum']" *ngIf="!ques.isAnswered">{{ques.question}}</a></li>
                  </ul>
                </div>
            </div>
          </ng-container>
            <a (click)="toggle()"><h4 class="count" >{{questDataLenght.length}}</h4><img src="assets/img/Notification-512.png" style="vertical-align:middle;height: 40px;width: 40px" /></a></li>
        <li *ngIf="!this.supperAdmin.checkSuperAdminEmail()"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="side-nav" id="mobile-demo">
      <li><a class="mobileMenu-li" (click)="navigate('/home')">Home</a></li>
      <li><a class="mobileMenu-li" (click)="navigate('/blog')">Blog</a></li>
      <li><a class="mobileMenu-li" (click)="navigate('/home/LeaderBoard')">Leader Board</a></li>
    <li><a class="mobileMenu-li" (click)="navigate('/home/TheRockRec')">The Rockstar Recruiter Community</a></li>
       
       
    <li><a class="mobileMenu-li" (click)="navigate('/employer/profile')">My Profile</a></li>
    <li><a class="mobileMenu-li" (click)="navigate('/contact-us')">Contact Us</a></li>
    
    <li *ngIf="!this.supperAdmin.checkSuperAdminEmail()"><a class="mobileMenu-li" (click)="logout()">Logout</a></li>
  </ul>

</div> -->
<app-navbar></app-navbar>

<!-- if only employer logged in -->
<ng-container
  *ngIf="!this.supperAdmin.checkSuperAdminEmail() && !enterpriseLogin"
>
  <div class="container" style="margin-top:15px;">
    <div class="row">
      <div class="col s12 m3 l3" *ngIf="!isOnProfile">
        <app-employer-navbar
          (selected)="navigate($event)"
        ></app-employer-navbar>
      </div>
      <!-- <div class="col s12 m9 l9"> -->
      <div
        [ngClass]="{
          'col s12 m12 l12': isOnProfile,
          'col s12 m9 l9': !isOnProfile
        }"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>

<!-- if Super admin -->
<ng-container
  *ngIf="this.supperAdmin.checkSuperAdminEmail() && !enterpriseLogin"
>
  <div class="container" style="margin-top:15px;">
    <div class="row">
      <div
        class="LogOutOption mobileHeadRe"
        *ngIf="this.supperAdmin.checkSuperAdminEmail() && !enterpriseLogin"
      >
        <!-- put this condition at false 'this.supperAdmin.checkSuperAdminEmail()' -->
        <h4>{{ chkLoggedInUser.fullName }} : {{ chkLoggedInUser.userRole }}</h4>
        <a (click)="logoutSA()"> Logout </a>
      </div>
      <div class="col s12 m3 l3" *ngIf="!isOnProfile">
        <app-employer-navbar
          (selected)="navigate($event)"
        ></app-employer-navbar>
      </div>
      <!-- <div class="col s12 m9 l9"> -->
      <div
        [ngClass]="{
          'col s12 m12 l12': isOnProfile,
          'col s12 m9 l9': !isOnProfile
        }"
      >
        <div
          class="LogOutOption desktopRe"
          *ngIf="this.supperAdmin.checkSuperAdminEmail()"
        >
          <!-- put this condition at false 'this.supperAdmin.checkSuperAdminEmail()' -->
          <h4>
            {{ chkLoggedInUser.fullName }} : {{ chkLoggedInUser.userRole }}
          </h4>
          <a (click)="logoutSA()"> Logout </a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>
<!-- for enterprise -->
<ng-container
  class="container"
  style="margin-top:15px;"
  *ngIf="enterpriseLogin && !this.supperAdmin.checkSuperAdminEmail()"
>
  <div class="row">
    <div class="LogOutOption mobileHeadRe">
      <h4>{{ UserData.fullName }} : {{ UserData.userRole }}</h4>
      <a (click)="logoutEnterprise()"> Logout </a>
    </div>
    <div class="col s12 m3 l3" *ngIf="!isOnProfile">
      <app-employer-navbar (selected)="navigate($event)"></app-employer-navbar>
    </div>
    <div
      [ngClass]="{
        'col s12 m12 l12': isOnProfile,
        'col s12 m9 l9': !isOnProfile
      }"
    >
      <div class="LogOutOption desktopRe" *ngIf="enterpriseLogin">
        <h4>{{ UserData.fullName }} : {{ UserData.userRole }}</h4>
        <a (click)="logoutEnterprise()"> Logout </a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
<!-- End for enterprise -->
