
/* popup design start */
.modalBodyPop li {
    list-style: circle !important;
    font-size: 15px;
    color: #000;
}

.modalBodyPop h5 {
    font-size: 20px;
    font-weight: bold;
}

.modalBodyPop {
    border-top: 1px solid #ddd;
    padding: 0 30px;
	margin-bottom: 30px;
}

.questionDiv {
    box-shadow: 0 0 5px #666;
    padding: 20px;
    border-radius: 5px;
}
.verifyDiv h5{
	font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
}
.questionHead {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
}
.queHeadtext {
    margin: 0 0 0 20px;
}
.queHeadtext h4 {
    margin: 0 0;
    font-size: 18px;
    font-weight: bold;
}
.textFeildDivQ {
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}
.questionDiv input {
    border: 1px solid #ddd !important;
    height: 40px !important;
    margin: 0px 0 0 !important;
    box-shadow: 0 0 10px #ddd !important;
    border-radius: 5px !important;
    padding: 0 10px !important;
    box-sizing: inherit !important;
}
.verifyDiv {
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}


.verifyDivInner button {
    margin-left: 10px;
	padding: 0;
    min-width: 150px;
}
.verifyDivInner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 25px;
    position: relative;
}
.text-right {
    text-align: right;
}
.marT20{
	margin-top:20px;
}
.modal.forumPopMain {
    display: none;
    position: fixed;
    max-height: unset;
    width: 100%;
    max-width:600px;
    overflow: unset;
}
.textFeildDivQ textarea{
    border: 1px solid #ddd !important;
    height: auto !important;
    margin: 0px 0 0 !important;
    box-shadow: 0 0 10px #ddd !important;
    border-radius: 5px !important;
    padding: 10px 10px !important;
    box-sizing: inherit !important;
    min-height: 80px;
}
.forumPopMain .slide-heading {
    margin: 0;
    padding: 10px 30px;
}
.askQ{
    text-align: center;
}	
.forumMsgPopup p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #101010;
}
.forumMsgPopup.forumPopMain {
    max-width: 380px;
    position: fixed;
}
.invalid-feedback {
    color: red;
    position: absolute;
    left: 5px;
    font-size: 14px;
    bottom: -22px;
    font-weight: bold;
}
.slide-heading {
    font-size: 32px;
    color: #114488;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}
.videoModalMain a.videoCloseBtn {
    position: absolute;
    top: -30px;
    color: #fff !important;
    z-index: 99999999;
    right: 0;
    font-size: 20px !important;
    cursor: pointer;
}
/* popup design end */
.width100{
    width: 100%;
}
.AksQutionBtn.btn {
    background-color: #ffffff;
    border: 2px solid #34aafd;
    color: #34aafd;
    font-weight: bold;
}
.askBtnText{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/*ask question pop place holder css START*/
.questionDiv input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
  }
  
  .questionDiv input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
  }
  
  .questionDiv input::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
  }
  .questionDiv textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
  }
  
  .questionDiv textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
  }
  
  .questionDiv textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
  }
  /*ask question pop place holder css END*/
