
  /* new css added for ask questions and answers*/
  .quetionAns{
    position: fixed;
    right: 10px;
    bottom: 25px;
    z-index: 1;
}
.quetionAnsMain{
    background-color: #fff;
    box-shadow: 0 0 10px #c0c0c0;
    width: 330px;
    padding: 20px;
    border-radius: 10px;
    float: left;
}
.allQuetionAnsDiv {
    padding-top: 20px;
    float: left;
}
.quetionAns h2{
    color: #12466e;
    font-size: 21px;
    margin: 0;
}
.quetion {
    border-bottom: 1px solid #e9e9e9;
}
.quetion h5{
    font-size: 16px;
    color: #454545;
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.queCount{
    background-color: #ededed;
    min-height: 25px;
    min-width: 25px;
    max-height: 22px;
    color: #262626;
    font-size: 13px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: normal;
    font-weight: normal;
    /* box-shadow: 0 1px 4px #a3a3a3; */
}
 span.labelclass{
    font-weight: 600;
    color: #454545;
    min-width: 40px;
    text-align: right;
    padding: 0 10px 0 0px;
}
.quetionAns p{
    color: #747474;
    font-size: 14px;
    margin-top: 0;
    display: flex;
}
.closeBtn {
    background-color: #55d973;
    width: 20px;
    height: 20px;
    color: #fff;
    /* font-weight: bold; */
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.eventDetails{
    position: relative;
    width: 100%;
    float: left;
}
.quetion.onlyQue h5, .quetion.onlyQue h5 span.labelclass{
font-weight: normal;
}
.quetion.onlyQue a{
    color: #088ff8;
    font-weight: 700;
    padding-left: 40px;
    cursor: pointer;
}
.writeAns h5{
    font-weight: normal;
    font-size: 16px;
}
.writeAns h5 span.labelclass{
    font-weight: normal;
}
.nobord{
    border-bottom: 0;
}
.writeAns {
    padding-top: 30px;
}
.writeAns textarea{
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.writeAns textarea::placeholder{
    color: #787878;
}
.writeAns button{
    background-color: #39aaff;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #39aaff;
    border-radius: 8px;
    float: right;
    margin-top: 5px;
}
.HeaderDiv {
    display: flex;
    justify-content: space-between;
}
.HeaderDiv span{
    background-color: #ff3f05;
    height: 25px;
    width: 25px;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollDiv {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 8px;
}
/* New css for scroll bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cccccc; 
    border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #39AAFF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0f76c3; 
  }
  /*==================================== responsive css start  =================================*/
/*================================ i-pad responsive css start  ===============================*/

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {
	.jobManegement {
    padding: 15px 15px;
}
.salPerYear {
    width: 100%;
    float: left;
    margin: 0 0 35px;
}
.bx-pager{
    width: 100%;
    left: 15px;
}
.tabSection {
    padding: 0 15px;
}

}
/*================================ i-pad responsive css end  ===============================*/
/*================================ mobile responsive css start  ===============================*/

@media only screen 
and (min-width : 320px) 
and (max-width : 767px)  {

}
/*================================ mobile responsive css end  ===============================*/