<div class="ctagoryPagemain">
  <h4 class="pageheading text-center">All Post</h4>

  <div class="row">
    <div class="col m12">
      <div class="catogoryMain">
        <form [formGroup]="blogSearchForm" (ngSubmit)="seachBlog('')" class="SerchForm">
          <div class="searchDiv">
            <ng2-completer class="serchInput" formControlName="category" [datasource]="dataService"
              [minSearchLength]="0" placeholder="Search here"></ng2-completer>
            <!-- <input type="text" class="serchInput"> -->
            <button class="commonBtn">Search Catagory</button>
          </div>
        </form>
      </div>
      <div class="tableDiv">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th> Bulk </th>  -->
              <th>Title</th>
              <th>Author</th>
              <th>Categories</th>
              <th>Created On</th>
              <th>Updated On</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of blogPostData">
              <td>{{ data?.title }}</td>
              <td>{{ data?.author?.fullName }}</td>
              <td>
                <span *ngFor="let cat of data?.categories">{{ cat.categoryName }},</span>
              </td>
              <td>{{ data.createdAt.substring(0, 10) }}</td>
              <td>{{ data.createdAt.substring(0, 10) }}</td>
              <td>
                <div class="linkDiv">
                  <a class="editLink cursor-pointer" (click)="editPost(data._id)">Edit</a>
                  <a class="deleteLink cursor-pointer" (click)="confirmDelete(data._id)">Delete</a>
                </div>
              </td>
            </tr>
          </tbody>
          <span *ngIf="blogPostDataLength <= 0">
            No data to display
          </span>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- confirm delete popup -->

<div id="deleteConfirm" class="modal modal-fixed-footer custFooterModal msgBox heightAut">
  <h4 class="msgHead">Delete</h4>
  <div class="modal-content terms msgContain">
    <!-- <h4 class="regMSG" >Thank you for registering!</h4>  -->
    <h4 class="regMSG">Want to delete category ?</h4>
  </div>
  <div class="modal-footer footerPadd">
    <div class=" text-center yesNoBtn">
      <button class="modal-close  waves-effect waves-light btn " (click)="removeBlog()">
        Yes
      </button>
    </div>
    <div class=" text-center">
      <button class="modal-close  waves-effect waves-light btn " (click)="closePopup()">
        No
      </button>
    </div>
  </div>
</div>

<!-- // -->