/*=================== checkbox btn css start =============*/
/* The container */
.checkboxL {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666;
}

/* Hide the browser's default checkbox */
.checkboxL input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tableDiv {
  width: 100%;
  overflow-x: auto;
}
/* Create a custom checkbox */
.checkmarkC {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #ddd;
}

/* On mouse-over, add a grey background color */
.checkboxL:hover input ~ .checkmarkC {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxL input:checked ~ .checkmarkC {
  background-color: transparent;
}

/* Create the checkmarkC/indicator (hidden when not checked) */
.checkmarkC:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarkC when checked */
.checkboxL input:checked ~ .checkmarkC:after {
  display: block;
}

/* Style the checkmarkC/indicator */
.checkboxL .checkmarkC:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #33aaff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*=================== checkbox btn css end =============*/
.SerchForm{
  width: 100%;
}
.searchDiv {
  /* width: 400px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 30px;
}
.ng2-search {
  width: 50%;
}
.search-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
/* .serchInput {
    border: 1px solid #ddd !important;
    height: 30px !important;
    width: 200px !important;
    margin: 0 5px !important;
    padding: 0px 5px !important;
	display: block;
} */
/* .commonBtn {
  border: 1px solid #ddd;
  color: #000 !important;
  height: 32px;
  font-size: 15px;
  background-color: #f7f7f7;
  line-height: 1;
  padding: 0 20px;
} */
.commonBtn {
  border: 1px solid #03a9f4;
  color: #fff !important;
  height: 40px;
  min-width: 150px;
  font-size: 14px;
  background-color: #03a9f4;
  padding: 5px 10px;
  /* border-radius: 30px; */
}

.catogoryMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countList {
  margin: 0 !important;
  font-size: 15px;
  color: #000;
}
.table-striped {
  border: 1px solid #ddd;
}
.table-striped {
  border: 1px solid #ddd;
}
/* .table-striped tr:nth-child(even) {
  background-color: #fcfcfc;
} */
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #f7f7f7;
}
.tableDiv td,
.tableDiv th {
  padding: 15px 15px;
}
.deleteLink {
  color: red;
  margin: 0 10px;
}
.text-center {
  text-align: center;
}
.cursor-pointer {
  cursor: pointer !important;
}

.msgBox {
  max-height: 20%;
  width: 20%;
  top: 30% !important;
  overflow: hidden;
}
.regMSG {
  font-size: 20px !important;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
}
.msgHead {
  text-align: center;
  color: #33aaff;
  font-weight: 700;
  font-size: 30px;
  padding: 15px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #e1e1e1; 
}
.msgContain {
  /* padding: 1px !important; */
  padding: 20px !important;
  height: auto !important;
  position: unset !important;
}
.text-center {
  text-align: center;
}
.choseLabel {
  position: static;
  width: 100%;
  float: left;
  transform: unset;
}

/* New css */
.ctagoryPagemain{
  background-color: #fff;
  padding: 1px 30px;
  box-sizing: border-box;
  margin: 7px 0;
  box-shadow: 0 0 10px #99999924 !important;
}
.pageheading{
  color: #03a9f4;
}
.footerPadd{
  padding: 10px 15px 15px 15px;
  position: unset !important;
  float: left;
  height: auto;
  display: flex;
  justify-content: center;
}
.msgBox.heightAut{
  height:auto !important;
  max-height: unset;
}
.yesNoBtn{
  margin-right: 10px;
}
/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .tableDiv {
    max-width: 330px;
    overflow-x: scroll;
    padding: 0;
  }
}
