.slide-sub-heading {
  font-size: 24px;
  color: #114488;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.slide-heading {
  font-size: 32px;
  color: #114488;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.slide-body {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
}

.slide-bullet {
  font-size: 20px;
  color: #114488;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
nav.customeNav {
  background: #fff !important;
  box-shadow: none;
  border-bottom: 0px solid #34aafd;
}
.btnSuccess {
  background-color: #0aafff !important;
  width: auto !important;
  padding: 2px 20px !important;
  height: 40px;
  box-shadow: none;
  text-transform: capitalize;
  border-radius: 3px;
  color: #fff !important;
}
nav.customeNav ul a {
  color: #1c2d41;
  /* padding: 0 28px; */
  padding: 0 20px;
}
.loginNtn {
  color: #33aaff !important;
  width: auto !important;
  height: 40px;
  box-shadow: none;
  text-transform: capitalize;
  border-radius: 3px;
  border: 1px solid #3ea9f5;
  vertical-align: middle;
  display: inline-block;
  line-height: 2;
  padding: 3px 25px !important;
}
nav ul a {
  color: #03a9f4;
}
#nav-mobile {
  transform: none !important;
}
.mobileMenu-li {
  color: #1c8ad8;
  font-size: 14px;
}
.mobileMenu-li:hover {
  color: #fff;
  background-color: #48aef3;
  font-weight: bold;
}
.LogOutOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #48aef3;
  color: #fff;
  margin-top: 8px;
  height: 45px;
  padding: 0 20px;
  margin-bottom: 12px;
}
.LogOutOption h4 {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
.LogOutOption a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 0 10px;
  box-shadow: 0px 1px 3px #a0a0a0;
}
.mobileHeadRe {
  display: none;
}
.notificationListOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .mobileHeadRe {
    display: flex;
  }
  .desktopRe {
    display: none;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1250px) {
  .nav-wrapper.container {
    width: 95% !important;
  }
  nav.customeNav ul a {
    color: #1c2d41;
    /* padding: 0 20px; */
    padding: 0 10px;
    font-size: 14px;
  }
}

.nav-wrapper.container {
  width: 85%;
}
.notificationList {
  position: absolute;
  width: 400px;
  /* height: 400px; */
  height: auto;
  right: 0;
  padding: 0px 0px;
  top: 70px;
  z-index: 999999;
  /* border: 1px solid #1c6fa9; */
  /* background-color: #48aef3; */
  background-color: #ffffff;
  box-shadow: 0 0 6px #99999987;
  border-radius: 5px;
  border: 1px solid #33aaff;
}
.notificationList li {
  display: block;
  color: #000;
  width: 100%;
  margin: 0;
  line-height: 2;
  font-size: 16px;
  font-weight: bold;
}
h4.count {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #48aef3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  right: 5px;
  top: -10px;
}
.hide-on-med-and-down li {
  position: relative;
}

.notificationListInner {
  position: relative;
}
.notificationListInner:after,
.notificationListInner:before {
  bottom: 100%;
  left: 56%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.notificationListInner ul a {
  padding: 8px 20px !important;
  border-bottom: 1px solid #e7e7e7;
  font-size: 15px;
  font-weight: normal;
  /* background-color: #f4f4f4; */
  background-color: #ffffff;
}
.notificationListInner ul a:hover {
  background-color: #e5f4ff;
}
.notificationListInner:after {
  border-color: rgba(136, 183, 213, 0);
  /* border-bottom-color: #1c6fa9; */
  border-bottom-color: #33aaff;
  border-width: 17px;
  top: -34px;
}
.notificationListInner ul {
  /* max-height: 400px; */
  overflow-y: auto;
  /* min-height: 130px; */
}
.borderBA a {
  color: #0aafff;
  background-color: #ffffff !important;
}
.notification-content {
  background-color: #ffffff !important;
}
.notification-content:hover {
  background-color: #e5f4ff !important;
}
/* width */
.notificationListInner ul::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.notificationListInner ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.notificationListInner ul::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
.notificationListInner ul::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.hederNotification {
  border-bottom: 1px solid #fff;
  padding: 10px 20px;
  /* background-color: #1a6ca5f2; */
  background-color: #33aaff;
  border-radius: 5px 5px 0px 0px;
}
.hederNotification h4 {
  margin: 0;
  /* padding: 10px 0px; */
  font-size: 20px;
  /* font-weight: bold; */
}
.interview-title {
  display: flex;
  justify-content: center;
}
.tab {
  font-size: 20px;
  color: #48aef3;
  font-weight: 600;
}

.scrollNotification {
  max-height: 400px;
  overflow: auto;
  position: relative;
  border-radius: 5px;
}

.scrollNotification:hover {
  overflow-y: auto;
}

.scrollNotification::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}

.scrollNotification::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #A8A2A0;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.scrollNotification::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 30px;
}
