.interview-heading {
    font-size: 20px;
    color: #fff;
}

span.interview-heading {
    color: #ffffff;
    font-size: 20px;
}

.head-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    background-color: #0aafff;
}

.head-column {
    float: left;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;
}