<div class="head-column" (click)="toggleSearch()">
  <div class="head-card">
    <h6>
      <span class="interview-heading">
        Filter Data
      </span>
    </h6>
    <i class="material-icons right" *ngIf="!searchTab" style="margin-top: -25px; color: white;">add</i>
    <i class="material-icons right" *ngIf="searchTab" style="margin-top: -25px; color: white;">remove</i>
  </div>
</div>