<div class="ctagoryPagemain">
  <h4 class="pageheading text-center">Categories</h4>

  <div class="row">
    <div class="col m12">
      <div class="catogoryMain">
        <form
          [formGroup]="catSearchForm"
          (ngSubmit)="searchCategories()"
          class="formDiv"
        >
          <div class="searchDiv">
            <input
              type="text"
              class="serchInput"
              formControlName="categoryName"
              (input)="resetCategories()"
              placeholder="Search here"
            />
            <button
              type="submit"
              class="commonBtn"
              [disabled]="this.catSearchForm.invalid"
            >
              Search Catagory
            </button>
          </div>
        </form>
      </div>
      <div class="tableDiv">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>Bulk</th> -->
              <th>Name</th>
              <th>Description</th>
              <th>Slug</th>
              <th>Count</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of categoriesData">
              <td>
                {{ data?.categoryName }}
                <!-- <span class="checkmarkC"></span> -->
                <!-- </label> -->
              </td>
              <td>Description</td>
              <td>{{ data?.catslug }}</td>
              <td>2</td>
              <td>
                <div class="linkDiv">
                  <a
                    class="editLink cursor-pointer"
                    (click)="loadCategory(data)"
                    >Edit</a
                  >
                  <a
                    class="deleteLink cursor-pointer"
                    (click)="confirmDelete(data._id)"
                    >Delete</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- confirm delete popup -->

<div id="deleteConfirm" class="modal modal-fixed-footer custFooterModal msgBox deltPopup">
  <h4 class="msgHead paddB20">Delete</h4>
  <div class="modal-content terms msgContain">
    <!-- <h4 class="regMSG" >Thank you for registering!</h4>  -->
    <h4 class="regMSG">Want to delete category ?</h4>
  </div>
  <div class="modal-footer footerPadd">
    <div class="col s4 m6 l6 text-center marL0">
      <button
        class="modal-close  waves-effect waves-light btn "
        (click)="deleteCategory()"
      >
        Yes
      </button>
    </div>
    <div class="col s4 m6 l6 text-center marL0">
      <button
        class="modal-close  waves-effect waves-light btn "
        (click)="closePopup()"
      >
        No
      </button>
    </div>
  </div>
</div>

<!-- // -->

<!-- update category popup -->

<div
  id="editCategory"
  class="modal modal-fixed-footer custFooterModal updatePopup"
>
  <h4 class="msgHead">Edit Category</h4>
  <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
  <!-- <hr /> -->
  <div class="modal-content terms msgContain">
    <!-- <h4 class="regMSG" >Thank you for registering!</h4>  -->
    <form
      [formGroup]="catEditForm"
      (ngSubmit)="editCategory()"
      class="categoryDiv"
    >
      <div class="searchDiv searchDivN adminPop">
        <label class="popLabel">Category Name :</label>
        <input
          id="catname"
          type="text"
          class="serchInput"
          placeholder="Category Name"
          formControlName="categoryName"
          (input)="resetCategories()"
          [(ngModel)]="category.categoryName"
        />
      </div>
      <div class="btnDiv searchDiv searchDivN">
        <button
          type="submit"
          class="saveBtn commonbt waves-effect waves-light btn marR10"
        >
          Save
        </button>
        <input
          type="button"
          (click)="closePopup()"
          class="cancelBtn commonbt  waves-effect waves-light btn "
          value="Cancel"
        />
      </div>
    </form>
  </div>
</div>

<!-- // -->
