@import "~video.js/dist/video-js.css";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.fa-play {
  color: #fff !important;
}
.container {
  /* display: flex;
  justify-content: center; */
  width: 100%;
  /* height: 100%; */
}
.interviewVideoDiv {
  width: 100%;
  float: left;
  /* height: 500px; */
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
.leftSideQuetion {
  width: 40%;
  padding: 20px;
  background-color: #000;
  /* box-shadow: 0px 0px 10px #ccc; */
}
.interviewQue {
  max-height: 210px;
  overflow-y: auto;
}
.leftSideQuetion h2 {
  font-size: 25px;
  text-align: left;
  color: #33aaff;
  /* margin: 0 0 30px; */
  margin: 0;
  margin-bottom: 20px;
}
.interviewQue h4 {
  margin: 20px 0;
  font-size: 15px;
  text-align: left;
}
.interviewQue h4 a {
  color: #ffffff;
  cursor: pointer;
}
.interviewQue h4 a:hover {
  font-weight: bold;
  color: #33aaff;
}
.interview-bold {
  font-weight: lighter !important;
  color: #33aaff !important;
}
.video-interview .progress {
  background-color: #fff !important;
  height: 3px !important;
}
/* .video-interview {
  width: 50%;
  height: 100%;
  position: relative;
} */
.video-interview {
  width: 60%;
  height: 100%;
}
/* videojs */
.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.video-js:focus {
  outline: none;
}
.video-js-without-questions {
  width: 100% !important;
  height: 100% !important;
}

/* end video js */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .interviewVideoDiv {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .singleList.employerResume {
    margin-top: 15px !important;
  }
  .container.colmInverse {
    flex-direction: column-reverse;
  }
  .leftSideQuetion {
    width: 100%;
  }
  .leftSideQuetion h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .interviewQue h4 {
    font-size: 14px;
    margin: 15px 0;
  }
  .video-interview {
    width: 100%;
    height: auto;
    /* height: 260px !important; */
  }
  .video-interview .video-js {
    width: auto;
    height: 260px !important;
  }
  .candidate-name {
    font-size: 17px !important;
  }
  .docSectionBtns {
    margin-bottom: 10px !important;
  }
  .PointsDivSingle h4 {
    margin: 0 !important;
  }
}

/* custom css videojs */
.c-video {
  width: 100%;
  height: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}
.c-video:hover .controls {
  transform: translateY(0);
}
.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}
.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.buttons button:before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.buttons button.play:before {
  content: "\f144";
  transition: all 0.2s;
}
.buttons button.pause:before {
  content: "\f28b";
  transition: all 0.2s;
}
.orange-bar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
.orange-juice {
  height: 100%;
  background-color: #33aaff;
}
