<div class="fullwidth ">
  <h4 class="allResume">All Recent Resumes ({{ ResumeList.length }})</h4>
  <div class="actionDIv">
    <h4>Notes</h4>
    <h4>Feedback</h4>
    <h4>Action</h4>
  </div>
</div>

<ng-container *ngIf="videoURL">
  <div class="interviewVideoDiv stickyDiv">
    <div class="leftSideQuetion" *ngIf="currentResume?.resumeKey?.questionsByRecruiter[0]">
      <h2>Jump to below interview questions</h2>

      <div class="interviewQue">
        <h4><a [ngClass]="questionNumber === 1 ? 'interview-bold':false"
            (click)="setCurrentTime(questionsByRecruiter.timeStamp1,1)">
            {{questionsByRecruiter.question1}}</a>
        </h4>
        <h4><a [ngClass]="questionNumber === 2 ? 'interview-bold':false"
            (click)="setCurrentTime(questionsByRecruiter.timeStamp2,2)">
            {{questionsByRecruiter.question2}}</a>
        </h4>
        <h4><a [ngClass]="questionNumber === 3 ? 'interview-bold':false"
            (click)="setCurrentTime(questionsByRecruiter.timeStamp3,3)">
            {{questionsByRecruiter.question3}}</a>
        </h4>
        <h4><a [ngClass]="questionNumber === 4 ? 'interview-bold':false"
            (click)="setCurrentTime(questionsByRecruiter.timeStamp4,4)">
            {{questionsByRecruiter.question4}}</a>
        </h4>
        <h4><a [ngClass]="questionNumber === 5 ? 'interview-bold':false"
            (click)="setCurrentTime(questionsByRecruiter.timeStamp5,5)">
            {{questionsByRecruiter.question5}}</a>
        </h4>
      </div>

    </div>
    <!-- video js -->
    <div class="video-interview"
      [ngClass]="!currentResume?.resumeKey?.questionsByRecruiter[0]? 'video-js-without-questions': false">
      <video #target class="video-js" controls>
        <source [src]="videoURL">
      </video>
    </div>
    <!-- end video js -->

    <!-- <iframe id="myVideo" [src]="videoURL | safePdf" class="interviewVideo" allowfullscreen></iframe> -->
    <!-- <app-pdf-viewer [url]="videoURL">
    </app-pdf-viewer> -->
    <div class="close">
      <i class="fa fa-window-close" aria-hidden="true" (click)="closeVide()"></i>
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
    </div>
  </div>
</ng-container>

<!-- <button (click)="setCurrentTime(4)">
  Set Current time
</button> -->
<div class="center-align" *ngIf="ResumeList.length == 0">
  <h3>Resume Not Found</h3>
</div>
<ul class="ListResume">
  <!-- other li div -->
  <li *ngFor="let resume of ResumeList; let i = index">
    <div class="singleList employerResume resumeSingleList" [ngClass]="selectedIndex === i ? 'active-resume':false"
      id="animateinterview{{ i }}">
      <div class="docSectionBtns">
        <div class="candidate-name" [ngClass]="selectedIndex === i?'candidate-name-selected':false">
          <span>
            {{resume?.resumeKey?.candidateName}}
          </span>
        </div>
        <div>
          <button class="downloadResume" [ngClass]="selectedIndex === i ? 'active-button':false">
            <a [ngClass]="selectedIndex === i ? 'color-white':false" [attr.href]="transform(resume?.resumeKey?.fileURL)"
              target="_blank" download>
              <i class="fa fa-cloud-download" [ngClass]="selectedIndex === i ? 'color-white':false"
                aria-hidden="true"></i>Download Resume
            </a>
          </button>
          <button class="viewInterview" *ngIf="resume?.resumeKey?.interviewLinkedByRecruiter"
            (click)="seeVideo(i,resume?.resumeKey?.interviewLinkedByRecruiter,resume)">
            <i class="fa fa-video-camera" aria-hidden="true"></i> View Interview</button>
        </div>
      </div>
      <div class="singleListData">
        <div class="PointsDiv commonSingleInner">
          <div class="PointsDivSingle PointsDivSingleN">
            <img *ngIf="selectedIndex !== i" src="assets/img/checkIcon.png" class="green-tick" />
            <img *ngIf="selectedIndex === i" src="assets/img/checkIconWhite.png" class="white-tick" />

            <!-- <h4>{{ resume.StrongPoint1 | charlimit }}</h4> -->
            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">{{ resume.StrongPoint1 }}</h4>
            <!-- <div class="OnHoverDiv">
              <h4>{{ resume.StrongPoint1 }}</h4>
            </div> -->
          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img *ngIf="selectedIndex !== i" src="assets/img/checkIcon.png" class="green-tick" />
            <img *ngIf="selectedIndex === i" src="assets/img/checkIconWhite.png" class="white-tick" />

            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">{{ resume.StrongPoint2}}</h4>
            <!-- <div class="OnHoverDiv">
              <h4>{{ resume.StrongPoint2 }}</h4>
            </div> -->
          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img *ngIf="selectedIndex !== i" src="assets/img/checkIcon.png" class="green-tick" />
            <img *ngIf="selectedIndex === i" src="assets/img/checkIconWhite.png" class="white-tick" />

            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">{{ resume.StrongPoint3 }}</h4>
            <!-- <div class="OnHoverDiv">
              <h4>{{ resume.StrongPoint3 }}</h4>
            </div> -->
          </div>
        </div>
        <!--
      <div class="docSection">
        <div class="docDiv">
          <img src="assets/img/doc.png" class="img-responsive" id="img{{ i }}" />
          <a [attr.href]="transform(resume?.resumeKey?.fileURL)" target="_blank" download>
            <h4>Download Resume</h4>
          </a>

          <span *ngIf="resume?.resumeKey?.interviewLinkedByRecruiter" class="view-interview"
            (click)="seeVideo(resume?.resumeKey?.interviewLinkedByRecruiter)">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
            View interview
          </span>
        </div>
      </div> -->

        <div class="feedbackDiv commonSingleInner ">
          <div class="PointsDivSingle">
            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">Skill Match</h4>
            <div class="startDiv">
              <span class="rating">
                <!--   <img src="assets/img/filledstar.png" class="img-responsive">
                              <img src="assets/img/star.png" class="img-responsive overStart">
                              <img src="assets/img/star.png" class="img-responsive overStart"> -->

                <input type="radio" id="{{ 'field1' + resume._id + '_star3' }}" name="{{ 'rating1' + resume._id }}"
                  value="33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field1' + resume._id + '_star3' }}"></label>

                <input type="radio" id="{{ 'field1' + resume._id + '_star2' }}" name="{{ 'rating1' + resume._id }}"
                  value="15" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field1' + resume._id + '_star2' }}"></label>

                <input type="radio" id="{{ 'field1' + resume._id + '_star1' }}" name="{{ 'rating1' + resume._id }}"
                  value="-33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field1' + resume._id + '_star1' }}"></label>
              </span>
            </div>
          </div>
          <div class="PointsDivSingle">
            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">Experience Match</h4>
            <div class="startDiv">
              <span class="rating">
                <input type="radio" id="{{ 'field2' + resume._id + '_star3' }}" name="{{ 'rating2' + resume._id }}"
                  value="33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field2' + resume._id + '_star3' }}"></label>

                <input type="radio" id="{{ 'field2' + resume._id + '_star2' }}" name="{{ 'rating2' + resume._id }}"
                  value="15" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field2' + resume._id + '_star2' }}"></label>

                <input type="radio" id="{{ 'field2' + resume._id + '_star1' }}" name="{{ 'rating2' + resume._id }}"
                  value="-33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field2' + resume._id + '_star1' }}"></label>
              </span>
            </div>
          </div>
          <div class="PointsDivSingle">
            <h4 [ngClass]="selectedIndex === i ? 'color-white':false">Education Match</h4>
            <div class="startDiv">
              <span class="rating">
                <input type="radio" id="{{ 'field3' + resume._id + '_star3' }}" name="{{ 'rating3' + resume._id }}"
                  value="33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field3' + resume._id + '_star3' }}"></label>

                <input type="radio" id="{{ 'field3' + resume._id + '_star2' }}" name="{{ 'rating3' + resume._id }}"
                  value="15" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field3' + resume._id + '_star2' }}"></label>

                <input type="radio" id="{{ 'field3' + resume._id + '_star1' }}" name="{{ 'rating3' + resume._id }}"
                  value="-33" /><label (click)="selectRating($event)" class="full"
                  for="{{ 'field3' + resume._id + '_star1' }}"></label>
              </span>
            </div>
          </div>
        </div>

        <div class="ActionDiv commonSingleInner ">
          <div class="actionDivSingle">
            <div class="">
              <textarea class="commentTxt" [ngClass]="selectedIndex === i ? 'color-gray':false" rows="5" cols="4"
                placeholder="Comment" [attr.id]="'Comments' + resume._id"></textarea>
            </div>
            <div class="docDiv">
              <h4 [ngClass]="selectedIndex === i ? 'color-white':false"><span>Recruiter
                  Cost: </span> $ {{userService.numberWithCommas(resume?.RecruiterCost)}}</h4>
            </div>
          </div>
        </div>
        <!-- (click)="feedBack(resume._id,'yes','Comments' + resume._id)" -->
        <div class="approveBtnDiv">
          <button (click)="feedBack(resume._id, 'yes', 'Comments' + resume._id, i)" class="btn commonBtn approveBtn"
            id="approveBtn">
            Interview
          </button>
          <button class="btn commonBtn RejectBtn" (click)="feedBack(resume._id, 'no', 'Comments' + resume._id, i)">
            Reject
          </button>
          <span class="share-icon" *ngIf="resume.resumeKey.interviewLinkedByRecruiter">
            <i *ngIf="selectedIndex !== i" class="fa fa-share" (click)="showShareModal(resume,biddingEvent)"
              style="color: #000000;" aria-hidden="true"></i>
            <i *ngIf="selectedIndex === i" class="fa fa-share" (click)="showShareModal(resume,biddingEvent)"
              style="color: #ffffff;" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </li>

  <!-- other li div -->
</ul>

<div id="ratingPoints" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Rating Points</h4>
    <div class="rankingMain">
      <div class="disF">
        <a><img src="assets/img/reward_points.png" height="50px" width="50px" /></a>
        <div>
          <label for="company-reward">Ranking</label>
          <h5 id="recruiter-rewards" class="mar0">
            {{ userProfile?.ranking }}
          </h5>
        </div>
      </div>
      <div class="">
        <label for="company-reward">Total Recruiter Score</label>
        <h5 id="recruiter-rewards" class="mar0">
          {{ userProfile?.ratingPoints }}
        </h5>
      </div>
    </div>
    <div class="EarnPoint">
      <h4 class="headsec">Current Earned Points</h4>
      <h4>
        Interview : <span>{{ ratingPoints.rejectOrHired }}</span>
      </h4>
      <h4>
        Skill Match : <span>{{ ratingPoints.skillMatch }}</span>
      </h4>
      <h4>
        Experience Match : <span>{{ ratingPoints.experienceMatch }}</span>
      </h4>
      <h4>
        Education Match : <span>{{ ratingPoints.educationMatch }}</span>
      </h4>
      <h4>
        Description : <span>{{ ratingPoints.commentPoints }}</span>
      </h4>
      <h4>
        Total : <span>{{ ratingPoints.total }}</span>
      </h4>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col s6 m6 l6">
      <button class="modal-close left waves-effect waves-light btn">
        Close
      </button>
    </div>
  </div>
</div>

<div id="shareEmailPopUp" class="modal">
  <i (click)="closeShareModal()" class="fa fa-times" aria-hidden="true"></i>
  <div class="emailTemp">
    <div class="form-group posRel">
      <!-- <p class="hideBtn"><a href="#">Hide CC / BCC</a></p> -->
      <label>To </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="recipientEmail">
    </div>
    <div class="form-group posRel">
      <label>CC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="cc">
    </div>
    <div class="form-group posRel">
      <label>BCC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="bcc">
    </div>
    <div class="form-group textRight">
      <button class="sendBtn" (click)="sendVideo()">SEND</button>
    </div>
  </div>
</div>
