<div class="center-align" style="width:100%; min-height:100vh; padding:50px 0px 50px 0px; background:#E9F4FF;"> 
  <img src="assets/img/identity1.png" style="margin-top:calc(6vh + 50px);"/>
  <div class="slide-heading" style="margin-top:10px;"> <a [routerLink]="['/']">HIRE SEAT </a></div>
  <div class="slide-sub-heading" *ngIf="isExpired"> The link has been Used or Invalid Link </div>
  <div class="slide-sub-heading" *ngIf="isSuccess"> Email Verified Successfully</div>
  <div class="slide-sub-heading" *ngIf="isErr"> Something went wrong! </div>
  <a [routerLink]="['']">Go To Home</a>
</div>