<div>
    <div class="right-align" >
        <a *ngIf="!hideAddBtn" class="waves-effect waves-light btn" [routerLink]="['/employer/create-bidding-event']"> <i class="material-icons left">add</i> New Job Posting</a>
    </div>
    <div *ngIf="!hideAddBtn" class="row" style="margin-top: 10px; margin-bottom: 5px">
        <app-filter-data (handleToggleSign)="handleToggleSign($event)"></app-filter-data>
    </div>
    <div class="postingForm" style="display: none;">
        <div class="row" style="width: 100%; margin-left: 1px;">
            <div class="col s4 paddL0">
                <div class="input-field">
                    <label for="jobProfiler" class="active">Select Job Profile :</label>
                    <input type="hidden" name="selectedJobProfile" [(ngModel)]="selectedJobType"
                        [ngModelOptions]="{standalone: true}">
                    <a class="dropdown-button" id="globalDropdown" (click)="clickDropdown('block','1')">
                        {{jobProfileType}}
                        <i class="material-icons right" style="cursor: pointer">arrow_drop_down</i>
                    </a>
                    <ul id="globalDropdown2" class="dropdown-content width100Per">
                        <!--  hide-on-small-only -->
                        <li *ngFor="let jobType of jp">
                            <a (click)="jobProfileVal(jobType.type,jobType._id)">{{jobType.type}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s8">
                <div class="right-align">
                    <div class="input-field col s6 m6">
                        <input id="activationDate" type="date" class="validate datepicker" name="activationDate">
                        <label for="activationDate" class="active">Start Date :</label>
                    </div>
                    <div class="input-field col s6 m6">
                        <input id="expiryDate" type="date" class="validate datepicker" name="expiryDate">
                        <label for="expiryDate" class="active">End Date :</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="skillInput">
                <span class="note"> <span style="color: #f58e8e;">Note :</span> Search by Name </span>
            </div>
            <div class="inputDivMainN">
                <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" placeholder="Search here..." #searchByName>
            </div>
            
        </div>
    </div>
    <div *ngIf="!noBiddingEvents">
        <ul id="bidding-event-list" style="margin-top:15px;">
            <li *ngFor="let biddingEvent of biddingEvents | paginate: { itemsPerPage : itemsPerPage, currentPage : p }"
                style="cursor:pointer;">
                <app-bidding-event-item [biddingEvent]="biddingEvent" (selected)="onSelect($event)"
                    (delete)="onDelete($event)"></app-bidding-event-item>
                <!-- <app-bidding-event-item [biddingEvent]="biddingEvent" (selected)="onSelect($event)" ></app-bidding-event-item> -->
            </li>
        </ul>
        <pagination-controls (pageChange)="handlePagination($event)"></pagination-controls>
    </div>

    <div *ngIf="noBiddingEvents" style="padding-top: 10px;">
        No Results to show
    </div>
</div>