.forumPageMain {
  padding: 20px 0;
  width: calc(100% - 340px) !important;
  float: left;
}

.forumMainSection {
  padding: 0 35px;
  width: 100%;
  float: left;
}
.mainDivForums {
  /* background-color: #e9f4ff; */
  background-color: #fff;
  width: 100%;
  float: left;
}
/* .forumQustionCommonBlock {
    border: 1px solid #ddd;
    margin: 20px 0;
} */
.inputDivMain {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #34aafd;
  z-index: 999;
  text-align: center;
}
.inputDivMain input {
  margin: 10px auto;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.stickyDiv {
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  width: 300px;
  float: right;
  padding: 20px 0;
  z-index: 99999;
}
.forumQustionCommonBlock {
  border: 1px solid #ddd;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px #cacaca;
  border-radius: 5px;
}
.headDiv {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.headDiv h4 {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: #33aaff;
}
.byAnnomus {
  padding: 0 15px;
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
.questionDivText {
  padding: 10px 15px;
  margin-bottom: 10px;
}
.questionDivText h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.answer {
  color: #33aaff;
  font-weight: bold;
  font-size: 14px;
}
.answerHead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 0;
}
.questionDivText .answerHead p {
  color: #aaa;
  font-size: 14px;
  margin: 0;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 20px;
}
.answerHead h4 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #666;
}
.questionDivText p {
  color: #000;
  font-size: 15px;
  margin: 10px 0 10px;
}
.forumAnswersBlock .questionDivText {
  padding: 15px 15px;
}
.questionDivTextReply {
  display: none;
  margin: 20px 0;
  text-align: right;
}
.questionDivTextReply textarea {
  padding: 10px;
  min-height: 70px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.forumMsgPopup p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #101010;
}
.forumMsgPopup.forumPopMain {
  max-width: 380px;
  position: fixed;
}
.yellowStar {
  color: #ff8d00;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
}

.inputDivMainN {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: #fff;
  z-index: 999;
  padding: 5px 5px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
}
.inputDivMainN input {
  margin: 0;
  color: #000;
  font-weight: bold;
  padding: 0px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  padding-right: 70px;
}
button.serchBtn {
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  width: 60px;
  color: #fff !important;
  background-color: #34aafd;
  border-radius: 0 5px 5px 0px;
}
button.serchBtn .fa {
  color: #fff;
}
.inputDivMainNInner {
  position: relative;
}
.inputDivMainN input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

.inputDivMainN input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

.inputDivMainN input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.answer {
  color: #33aaff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #34aafd;
  background-color: transparent;
  border-radius: 30px;
  padding: 5px 30px 5px;
  margin-top: 20px;
}
.newPopZindex {
  z-index: 99999 !important;
}
.newPopZindex .slide-heading.text-center {
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1px solid #666;
  color: #0a9be5;
  font-size: 25px;
  font-weight: bold;
}
.newPopZindex .modal-content {
  padding: 0;
}
.newPopZindex a.videoCloseBtn {
  float: right;
  margin: 5px 5px;
}

.contai {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}
.questionDivText a:hover {
  text-decoration: underline;
}
.pageHeading {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0;
  color: #fff;
}
.headerDiv {
  background-color: #6bf;
}
.headerDiv p {
  margin: 0 0;
  color: #fff;
}
.headerDiv p a {
  text-decoration: none;
  color: #fff;
}
/* mobile responsive start*/
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .stickyDiv {
    top: 0;
    padding: 0px 0;
    width: 100%;
    float: none;
  }
  .askBtnText {
    font-size: 15px;
    text-align: justify;
  }
  .recentQuestionsDivMain {
    display: none;
  }
  .forumMainSection {
    padding: 0;
  }
  .inputDivMainN {
    top: 170px;
  }
  .AksQutionN {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 185px;
  }
  .forumPageInner {
    padding: 0 10px;
  }
  .forumPageMain {
    padding: 200px 0;
    width: 100% !important;
    float: left;
  }
  .pageHeading {
    font-size: 35px !important;
  }
}
/* mobile responsive end*/
/* i-pad css  responsive start */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .forumMainSection {
    padding: 0px;
  }
  .mainDivForums .container {
    width: 90%;
  }
  .headerDiv {
    padding: 30px 0 !important;
  }
  .pageHeading {
    font-size: 42px !important;
  }
}

/* i-pad css  responsive start */
