.row .col.l6 {
  margin-bottom: 10px;
}
.modal .modal-content {
  padding: 30px;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 22%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 29px;
  height: 56px;
  width: 76%;
  text-align: right;
}
ul.resumeList {
  width: 100%;
  /* float: left;
  margin-bottom: 20px; */
  /* display: flex !important; */
}
.resume-container {
  display: flex;
  flex-direction: column;
}
.btn {
  background-color: #03a9f4 !important;
}
.no-content {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posrelDiv {
  position: relative;
  background-color: #fff;
}

.posrelDiv.dropdownMain {
  width: calc(100% - 200px);
  float: left;
  margin-right: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px #4f4f4f1c;
}
.dropdownMain .input-field {
  margin-top: 0;
}
.dropdownMain form {
  width: 100%;
  height: 40px;
}
.dropdownMain i.right {
  float: right;
  margin-left: 15px;
  position: absolute;
  top: 20%;
  right: 2%;
}
.mainTopBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
.marT10 {
  margin-top: 10px;
}
.selectedResume {
  height: 100%;
  width: 100%;
}

.dropdown-content.bidDropDown i {
  right: 20px;
  position: absolute;
  top: 15px;
  color: #878787;
}

.dropdown-toggle {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  display: block;
  opacity: 1;
}
a.waves-effect.waves-light.btn.newResumeBtn {
}
.waves-effect {
  width: 240px !important;
}
.dropdown-button_resume {
  width: 100%;
  height: 100%;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 10px;
}

.searchForm {
  display: none;
}

.inputInnerDiv span{
  color: #FF9800;
  font-weight: bold;
  font-size: 14px;
}