<div [ngClass]="{'publishing': publishing}" class="publisher" #publisherDiv></div>
<!-- <span (click)="hideVideo()">hide video</span> -->
<!-- <img src="../../assets/icons/icons8-no-video-30.png" *ngIf="!hideVideo" (click)="isVideo(true)">
<img src="../../assets/icons/image.png" *ngIf="hideVideo" (click)="isVideo(false)">
  -->