#visioStopBtn {
  position: absolute;
  z-index: 10;
  width: 85%;
  margin: 5px 3% 5px 3%;
  bottom: 8px;
}
#layoutContainer {
  width: 320px;
  height: 240px;
  background-color: #ddd;
  position: relative;
}

/* .publisher {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 3px;
} */
