<div id="create-bidding-event" style="padding:30px 30px 0px 30px;">
    <div class="title" style="margin-bottom:30px;"> New HireSeat Job Posting</div>

    <form [formGroup]="auctionFrm" (ngSubmit)="submit()" novalidate>
        <div class="row flexWrap">
            <div class="input-field col s6 m4">
                <input id="activationDate" type="date" class="validate datepicker" name="activationDate">
                <label for="activationDate" class="active">Activation Date</label>
            </div>
            <div class="input-field col s6 m4">
                <input id="expiryDate" type="date" class="validate datepicker" name="expiryDate">
                <label for="expiryDate" class="active">Expiry Date</label>
            </div>
            <div class="input-field col s6 m4 marT35">
                <label for="jobProfiler" class="active">Select Job Profile</label>
                <input type="hidden" name="selectedJobProfile" [(ngModel)]="selectedJobProfile"
                    formControlName="selectedJobProfile">
                <a class="dropdown-button" data-activates="dropdown_jobProfile">
                    {{jobProfileName}}
                    <i class="material-icons right" style="cursor: pointer">arrow_drop_down</i>
                </a>
                <ul id="dropdown_jobProfile" class="dropdown-content">
                    <!--  hide-on-small-only -->
                    <li *ngFor="let jobProfile of jp"><a
                            (click)="jobProfileVal(jobProfile.jobTitle,jobProfile._id)">{{jobProfile.jobTitle}}</a></li>
                </ul>
                <div *ngIf="(f.selectedJobProfile.touched && f.selectedJobProfile.errors)" class="invalid-feedback"
                    class="error">
                    <div *ngIf="f.selectedJobProfile.errors.required">Company Description is required</div>
                </div>
            </div>
            <!-- </div>
        <div class="row"> -->
            <!--  <div class="input-field col s6">
              <input id="resume-limit" type="text" class="validate" name="biddingEvent.resumeLimit" [(ngModel)]="biddingEvent.resumeLimit" formControlName="resumeLimit">
              <label for="resume-limit" [ngClass]="{'active': biddingEvent.resumeLimit}">How many candidates do you want to interview?</label>
              <div *ngIf="(f.resumeLimit.touched && f.resumeLimit.errors)" class="invalid-feedback" class="error">
                    <div *ngIf="f.resumeLimit.errors.required">Resume Limit is required</div>  
                    <div *ngIf="f.resumeLimit.errors.pattern">Numbers should not be zero</div>              
                </div>
          </div> -->
            <div class="input-field col s6 m4">
                <input id="reward-money" currencyMask type="text" class="validate" name="biddingEvent.rewardMoney"
                    [(ngModel)]="biddingEvent.rewardMoneyFrom" formControlName="rewardMoneyFrom">
                <label for="reward-money" class="active">Placement Fee From</label>

                <div *ngIf="(f.rewardMoneyFrom.touched && f.rewardMoneyFrom.errors)" class="invalid-feedback"
                    class="error">
                    <div *ngIf="f.rewardMoneyFrom.errors.required">From Reward Money is required</div>
                    <div *ngIf="f.rewardMoneyFrom.errors.pattern">Numbers Only</div>
                </div>
            </div>

            <div class="input-field col s6 m4">
                <input id="reward-money" currencyMask type="text" class="validate" name="biddingEvent.rewardMoneyTo"
                    [(ngModel)]="biddingEvent.rewardMoneyTo" formControlName="rewardMoneyTo">
                <label for="reward-money" class="active">Placement Fee To</label>
                <div *ngIf="f.rewardMoneyTo.touched" class="invalid-feedback" class="error">
                    <div *ngIf="auctionFrm.hasError('invalidReward') && !f.rewardMoneyTo.errors?.required">Can't be less
                        than Placement Fee From</div>
                </div>
                <div *ngIf="(f.rewardMoneyTo.touched && f.rewardMoneyTo.errors)" class="invalid-feedback" class="error">
                    <div *ngIf="f.rewardMoneyTo.errors.required">To Reward Money is required</div>
                    <div *ngIf="f.rewardMoneyTo.errors.pattern">Numbers Only</div>
                </div>
            </div>
            <div class="input-field col s6 m4">
                <p> per candidate </p>
            </div>

            <div class="input-field col s12 m12">
                <div class="radioGroup">
                    <input type="radio" id="public" style="margin-left: 7px;" name="globalType" [ngModelOptions]="{standalone: true}" [(ngModel)]="globalType" value="public">
                    <label for="male">Public</label>
                    <input type="radio" id="private" style="margin-left: 7px;" name="globalType" [ngModelOptions]="{standalone: true}" [(ngModel)]="globalType" value="private">
                    <label for="female">Private</label>
                </div>
            </div>
            <div class="title" style="margin-bottom:5px;" *ngIf="globalType === 'private'">Select Recruiters</div>
            <div class="searchDiv" *ngIf="globalType === 'private'">
                <input type="text" class="searchRecruiter" formControlName="searchTerm" [(ngModel)]="searchTerm" placeholder="Search..." (focus)="searchDataList = true" #searchInputTerm>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div class="searchData" *ngIf="globalType === 'private' && searchDataList">
                <div class="listHeading" *ngIf="searchedRecruiters.length > 0">Searched Recruiuters</div>
                <div class="recruitrList" *ngFor="let item of searchedRecruiters">
                    <h4>{{ item.fullName }}</h4>
                    <div class="starDiv" *ngFor="let star of startList">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="actionDiv">
                        <label class="CheckBoxcontainer">
                            <input type="checkbox" name="{{item._id}}" (change)="handleTopSelected($event,'search')" [checked]="item.isChecked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                
                <div class="divider"></div>
                <div class="listHeading">Top Recruiuters</div>
                <div class="recruitrList" *ngFor="let item of topRecruiters">
                    <h4>{{ item.fullName }}</h4>
                    <div class="starDiv" *ngFor="let star of startList">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="actionDiv">
                        <label class="CheckBoxcontainer">
                            <input type="checkbox" name="{{item._id}}" (change)="handleTopSelected($event,'top')" [checked]="item.isChecked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="title" style="margin-bottom:5px;margin-top:10px;" *ngIf="globalType === 'private' && selectedRecruiters.length > 0">Selected Recruiters</div>
            <div class="searchDiv" *ngIf="globalType === 'private'">
                <div class="recruitrList" *ngFor="let item of selectedRecruiters">
                    <h4>{{ item.fullName }}</h4>
                    <div class="actionDiv">
                        <label class="CheckBoxcontainer">
                            <input type="checkbox" name="{{item._id}}" (change)="handleSelected($event)" [checked]="item.isChecked">
                            <span class="checkmark checkboxSpan"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="center-align" style="margin-top:15px; margin-bottom:15px;">
            <button [disabled]="auctionFrm.valid==true ? false:true " type="submit"
                class="waves-effect waves-light  commonBlueBtnN">Create</button>
            <a class="transparentBtnN waves-effect waves-light " (click)="goBack()"> Back </a>
        </div>
    </form>
</div>

<!-- <div class="row">
    <div class="center-align"> <a  class="transparentBtnN waves-effect waves-light " (click)="goBack()"> Back </a> </div>
</div> -->