#container-parent{
    width:100%;
    min-height:100%;
}
.page-title{
    font-size:24px;
    color:#114488;
    font-weight:700;
}
.slide-heading{
    font-size:32px;
    color:#114488;
    font-weight:700;
    margin:0px 0px 10px 0px;
}
.logoIcon{
    width:300px
}
@media only screen 
and (min-width:320px)
and (max-width:667px){
    .center-align button {
        padding: 0 18px;
        height: 30px;
        line-height: unset;
        margin:0 !important;
    }
    .center-align {
        float: unset;
        padding: 0;
    }

}