.row .col.l6 {
  margin-bottom: 10px;
}
.modal .modal-content {
  padding: 30px;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 30%;
  /* width: 22%; */
  margin: auto;
  overflow-y: auto;
  border-radius: 5px;
  will-change: top, opacity;
}
.bluePopHead{
  font-size: 27px;
  color: #44606d;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 29px;
  height: 56px;
  /* width: 76%; */
  width: 100%;
  /* text-align: right; */
}
ul.resumeList {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
}
.btn {
  background-color: #03a9f4 !important;
}
.marT10{
  margin-top: 10px;
}
.bodyPara{
  font-size: 17px;
  color: #5e5e5e;
}
.textCenter{
  text-align: center;
}
.noBtn {
  border: 2px solid #03a9f4;
  background-color: #fff !important;
  color: #03a9f4;
  font-weight: 600;
}
.posrelDiv {
  position: relative;
  background-color: #fff;
}

.dropdown-content.bidDropDown i {
  right: 20px;
  position: absolute;
  top: 15px;
  color: #878787;
}

ul.resumeDrodown {
  max-height : 300px;
  overflow : auto;
  margin: 0;
}
.whiteBtn,
.whiteBtn:hover {
  background-color: #fff;
  color: #000;
}
.dropdown-toggle {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0px;
  display: block;
  opacity: 1;
}
.mainTopBar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
a.waves-effect.waves-light.btn.newResumeBtn {
  width: 200px;
}
.posrelDiv.dropdownMain {
  width: calc(100% - 200px);
  float: left;
  margin-right: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px #4f4f4f1c;
}
.dropdownMain .input-field{
  margin-top: 0;
}
.dropdownMain form{
  width: 100%;
  height: 40px;
}
.selectedResume {
  height: 100%;
  width: 100%;
}
.dropdown-button_resume{
  width: 100%;
  height: 100%;
  text-align: left;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
}
.dropdownMain i.right {
  float: right;
  margin-left: 15px;
  position: absolute;
  top: 20%;
  right: 2%;
}
li.floatUns.marginUns {
  margin-left: unset;
}

.searchForm {
  display: none;
}