<app-navbar></app-navbar>
<div id="home-page" class="homePageMain">
  <!--============================ 1st section start ===========================-->
  <div class="bestRecruitment">
    <img src="assets/img/firstSec.png" class="sectionBGimg" />
    <div class="bestRecruitmentText">
      <!-- <h3 class="ThinTextHeading">HireSeat</h3>
      <h3 class="BoldText">Disrupting Recruiting</h3> -->
      <h3 class="ThinTextHeading">Quality Candidates through</h3>
      <h3 class="BoldText">
        Accountability, Transparency <br />and Fair Competition
      </h3>
      <button class="KnowMoreBtn" (click)="scrollToNextSlide()">
        Know More <img src="assets/img/arrow.png" class="arrowImg" />
      </button>
    </div>
  </div>
  <!--=========================== 1st section end ===============================-->
  <!--=========================== 2st section start ===============================-->
  <div class="ProveBest" id="slide-2">
    <div class="ProveBestInner">
      <div class="proveHead">
        <div class="width50">
          <img src="assets/img/provebg.png" class="headeLeftImg" />
        </div>
        <div class="width50">
          <img src="assets/img/sitBg.png" class="SeatBAchH" />
        </div>
      </div>
      <div class="ProveInnerMain">
        <div class="width50 ProveLeft">
          <div class="secHeadingDiv">
            <h4 class="SecHeading">Quality Candidates</h4>
          </div>
          <div class="leftSectionPara paddT30">
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/candidate.png" class="" />
              </div>
              <div class="proveText">
                <!-- <h5>Show off your Leadership</h5> -->
                <p>
                  We believe that discovering the perfect candidate is a very
                  human endeavor. We are all candidates at some point in our
                  career.
                </p>
              </div>
            </div>
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/deal.png" class="" />
              </div>
              <div class="proveText">
                <!-- <h5>Compete fairly other Recruiter</h5> -->
                <p>
                  We believe that by developing a better approach for Hiring
                  Managers to collaborate with all the best Recruiters, we can
                  identify the perfect candidate.
                </p>
              </div>
            </div>

            <div class="newBtnTextB">
              <div class="width100 min200">
                <div class="proveTextimg">
                  <img src="assets/img/crm.png" class="" />
                </div>
                <div class="proveText">
                  <!-- <h5>More opportunities</h5> -->
                  <p>
                    HireSeat tears down the adversarial conditions between
                    Hiring Managers, Recruiters and Candidates to develop a
                    collaborative approach through Accountability, Transparency
                    and Fair Competition.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="width50 seatBack">
          <div class="secHeadingDiv">
            <h4 class="SecHeading">
              Accountability, Transparency <br />
              and Fair Competition
            </h4>
          </div>
          <div class="rightSectionPara paddT30">
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/accounting.png" class="" />
              </div>
              <div class="proveText">
                <h5>Accountability</h5>
                <p>
                  HireSeat has a built-in feedback loop that scores each
                  recruiter based on the hiring managers feedback.
                </p>
              </div>
            </div>
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/transperacy.png" class="marB20" />
              </div>
              <div class="proveText">
                <h5>Transparency</h5>
                <p>
                  HireSeat’s feedback loop provides all recruiters access to the
                  feedback of all competing recruiter’s candidates.
                </p>
              </div>
            </div>

            <div class="newBtnTextB min200">
              <div class="width100">
                <div class="proveTextimg">
                  <img src="assets/img/competition.png" class="" />
                </div>
                <div class="proveText">
                  <h5>Competition</h5>
                  <p>
                    Since HireSeat is open to all recruiters, fair transparent
                    competition delivers the best candidates faster.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="proveFooter">
        <div class="width50">
          <img src="assets/img/prove_lowerBg.png" class="bottomLeftImg" />
        </div>
        <div class="width50">
          <img src="assets/img/sit_lowerBg.png" class="" />
        </div>
      </div>
    </div>
  </div>
  <!--=========================== 2nd section end ===============================-->
  <!--=========================== 3rd section start ===============================-->

  <app-media></app-media>
  <!--=========================== 3rd section end ===============================-->

  <!--=========================== 4th section start ===============================-->
  <div class="articleDiv">
    <div class="articleDivInner1">
      <div class="articleDiv70">
        <img src="assets/img/article.png" class="ArticleHeadImg" />
      </div>
      <div class="articleDiv30">
        <img src="assets/img/twitter.png" class="tweeterHeaderImg" />
      </div>
    </div>

    <div class="articleDivInner">
      <div class="articleDiv70">
        <h4 class="SecHeading blackHed">Article</h4>
        <div class="row mar0 flexWrap scrollDiv">
          <div class="col m12 l6 marB20" *ngFor="let article of article; let i = index">
            <div *ngIf="i < 4" class="ArticleDiv">
              <h5>{{ article?.updatedAt | date }}</h5>
              <h4>{{ article?.title }}</h4>
              <div *ngIf="article.featuredImage" class="postimage">
                <img src="{{ article.featuredImage }}" />
              </div>

              <div *ngIf="article.video != null" class="postimage">
                <video id="selectedVideo" height="100%" width="100%" controls [src]="article?.video">
                  Your browser does not support the video tag.
                </video>
              </div>

              <div *ngIf="article.embbedded" class="postimage">
                <!-- <div *ngIf="article?.embbedded!= 'null' " [innerHtml]="safe(article.embbedded)"> </div> -->
                <iframe *ngIf="article?.embbedded != 'null'" width="100%" height="100%"
                  [src]="article?.embbedded | safe"></iframe>
              </div>

              <p *ngIf="
                  !article?.featuredImage &&
                  !article?.embbedded &&
                  article?.video == null
                " [innerHtml]="truncateHTML(article?.description)"></p>
              <a [routerLink]="['/blog/', article.blogurl]">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="articleDiv30">
        <h4 class="SecHeading ">Twitter</h4>
        <div class="boxDiv">
          <ngx-twitter-timeline data-width="280" data-height="300" [data]="{
              sourceType: 'url',
              url: 'https://twitter.com/HireSeat?ref_src=twsrc%5Etfw'
            }" [opts]="{ tweetLimit: 3 }"></ngx-twitter-timeline>
        </div>
      </div>
    </div>
  </div>
  <!--=========================== 4th section end ===============================-->
  <!--========================== recruter section 5th start =============================-->
  <div class="recruterMain" *ngFor="let meetUpsData of meetUpsData; let i = index">
    <div class="recruterInner" *ngIf="i < 1">
      <img src="assets/img/staue.png" class="staueIcon" />
      <h4 class="SecHeading text-center">{{ meetUpsData?.group.name }}</h4>
      <p>
        <img src="assets/img/location.png" class="staueIcon" />{{
          meetUpsData?.group.localized_location
        }}
      </p>
      <div class="lineSide">
        <h5>{{ meetUpsData?.name }}</h5>
      </div>
      <div class="DateTime">
        <div class="date">
          <h3>{{ meetUpsData?.local_date | date: "dd" }}</h3>
          <p>{{ meetUpsData?.local_date | date: "MMMM" }}</p>
        </div>
        <div class="Time">
          <h4>{{ meetUpsData?.local_time | convertFrom24To12Format }}</h4>
          <p>
            Venue: {{ meetUpsData?.venue.address_1 }} ,
            {{ meetUpsData?.venue.name }}
          </p>
          <p>{{ meetUpsData?.venue.city }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--========================== recruter section 5th end ===============================-->
</div>

<app-footer></app-footer>