@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import '~video.js/dist/video-js.css';
.section-header {
  font-size: 20px;
  color: #114488;
  font-weight: 700;
}
.video-js {
  width: 100%;
  height: 100%;
  outline: none;
}
/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .newResume {
    padding: 0 !important;
  }

  .wid100 {
    width: 100% !important;
    display: table !important;
  }

  .grey.lighten-4 {
    background-color: #fff !important;
    padding: 0 15px;
    color: #fff !important;
    display: table-cell;
  }

  .file-field span {
    font-size: 13px;
  }

  .uploadBtn {
    background-color: #4db0f4;
    border-radius: 5px;
  }

  .card {
    width: 100%;
    float: left;
  }

  .marB0 {
    margin-bottom: 0;
  }
}

.NewResumeForm .error {
  color: red;
  position: absolute;
  bottom: -2px;
}

.NewResumeForm input {
  height: 30px !important;
}

.NewResumeForm .input-field {
  position: relative;
  margin-top: 10px;
}

.subTitle {
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.NewResumeForm .fa {
  color: #909090;
}

.marB10 {
  margin-bottom: 10px;
}

.NewResumeForm textarea {
  height: auto;
}

.NewResumeForm .wid100.center-align {
  height: 200px !important;
}
.resumePreview {
  padding: 0 15px;
}
.resumePriviewDiv .uploadBtn {
  display: table-cell;
  vertical-align: middle;
}

.resumePriviewDiv .grey {
  width: 100%;
  height: 100% !important;
  display: table;
}
.editResumeupperDiv {
  width: 100%;
  height: 220px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.resumePriviewDiv {
  /* width: 50%;
  vertical-align: middle;
  margin: 10px auto 30px;
  max-height: 200px; */
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: #afafaf;
}
.upperVideo {
  width: 70%;
  height: 100%;
  float: right;
}

.upperVideo iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.resume-subtitle {
  color: #0aafff;
}
.note {
  color: #ccd1d3;
}
.resume-repository-click {
  cursor: pointer;
}
.RecriterReview {
  width: 100%;
  float: left;
  padding: 15px;
}
.RecriterComment {
  border-radius: 5px;
  padding: 5px;
  min-height: 80px;
}

/* UPPER BTNS */
.buttonsDiv {
  /* padding: 15px; */
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.copy-link {
  color: #48aef3;
  background-color: transparent;
  background-image: none;
  border-color: #48aef3;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 6px;
}
.copy-link:active {
  color: #fff;
  background-color: #48aef3;
  border-color: #48aef3;
}
.copy-link:hover {
  color: #fff;
  background-color: #48aef3;
  border-color: #48aef3;
}
.copy-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 174, 243);
}
.commButton {
  width: 100px;
  height: 40px;
  padding: 0 10px;
}
.upperBackDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blueBtn.commButton {
  border: 2px solid #e8c800;
  color: #e8c800;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: transparent;
  margin-left: 10px;
}
.blueBtn.commButton i {
  color: #e8c800;
  margin-right: 5px;
}
.commButton.filledBtn {
  color: #ffffff;
  background-color: #e8c800;
}
.commButton.filledBtn i {
  color: #ffffff;
}

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  background-color: transparent !important;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content.addQuetion {
  padding: 20px 0;
  background-color: #ffffff !important;
  width: 100%;
  /* overflow: scroll; */
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.interview-title {
  color: #48aef3;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 20px;
}
.borderBA a {
  color: #0aafff !important;
  background-color: #ffffff !important;
}
.hide-on-med-and-down li {
  position: relative;
}
nav ul a {
  color: #03a9f4;
}
#nav-mobile {
  transform: none !important;
}
.mobileMenu-li {
  color: #1c8ad8;
  font-size: 14px;
}
.mobileMenu-li:hover {
  color: #fff;
  background-color: #48aef3;
  font-weight: bold;
}
.hide-on-med-and-down li .borderBA {
  color: #0aafff !important;
  position: relative;
}

/* popup design start */
.modalBodyPop li {
  list-style: circle !important;
  font-size: 15px;
  color: #000;
}

.modalBodyPop h5 {
  font-size: 20px;
  font-weight: bold;
}

.modalBodyPop {
  border-top: 1px solid #ddd;
  padding: 0 30px;
  margin-bottom: 30px;
}

.questionDiv {
  box-shadow: 0 0 5px #666;
  padding: 20px;
  border-radius: 5px;
}
.verifyDiv h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}
.questionHead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
}
.queHeadtext {
  margin: 0 0 0 20px;
}
.queHeadtext h4 {
  margin: 0 0;
  font-size: 18px;
  font-weight: bold;
}
.textFeildDivQ {
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
  padding: 20px 0 0;
}
.questionDiv input {
  border: 1px solid #ddd !important;
  height: 40px !important;
  margin: 0px 0 0 !important;
  box-shadow: 0 0 10px #ddd !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  box-sizing: inherit !important;
}
.verifyDiv {
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
  padding: 20px 0 0;
}

.verifyDivInner button {
  margin-left: 10px;
  padding: 0;
  min-width: 150px;
}
.verifyDivInner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 25px;
  position: relative;
}
.text-right {
  text-align: right;
}
.marT20 {
  margin-top: 20px;
}
.modal.forumPopMain {
  display: none;
  position: fixed;
  /* max-height: unset; */
  /* max-height: 410px; */
  box-shadow: none !important;
  /* width: 100%; */
  max-width: 600px;
  overflow: unset;
  height: 100%;
}

.textFeildDivQ textarea {
  border: 1px solid #ddd !important;
  height: auto !important;
  margin: 0px 0 0 !important;
  box-shadow: 0 0 10px #ddd !important;
  border-radius: 5px !important;
  padding: 10px 10px !important;
  box-sizing: inherit !important;
  min-height: 80px;
}
.forumPopMain .slide-heading {
  margin: 0;
  padding: 10px 30px;
}
.askQ {
  text-align: center;
}
.forumMsgPopup p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #101010;
}
.forumMsgPopup.forumPopMain {
  max-width: 600px;
  position: fixed;
}
.invalid-feedback {
  color: red;
  position: absolute;
  left: 5px;
  font-size: 14px;
  bottom: -22px;
  font-weight: bold;
}
.slide-heading {
  font-size: 32px;
  color: #114488;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.videoModalMain a.videoCloseBtn {
  position: absolute;
  top: -30px;
  color: #fff !important;
  z-index: 99999999;
  right: 0;
  font-size: 20px !important;
  cursor: pointer;
}
/* popup end */
/* Button */
.button-a {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}

/* end buton */

/* // Button Css*/
.btn-primary {
  width: auto;
  font-weight: 500;
  height: 40px;
  border-radius: none;
  background-color: #03a9f4;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition: all ease 0.3s;
  padding: 20px 20px;
  margin-right: 10px;
}
.btn-primary:active {
  box-shadow: 0 1px 2px #666;
  transform: translateY(2px);
}

/*  */
.btn-secondary {
  width: auto;
  font-weight: 500;
  height: 40px;
  border-radius: none;
  background-color: #f0f341;
  color: black;
  font-size: 14px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition: all ease 0.3s;
  padding: 20px 20px;
}
p {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-secondary:active {
  box-shadow: 0 1px 2px #666;
  transform: translateY(2px);
}

.quetionsBtn {
  text-align: right;
  padding: 15px;
}
/* ADD QUESTION POPUP */
.slide-heading.blueHeadng {
  color: #03a9f4;
}
.noBord {
  border: 0;
  margin: 0;
}
.questionDivPopup {
  width: 100%;
  float: left;
  padding: 5px 0;
}
.formFeild {
  width: 100%;
  float: left;
}
.formFeild label.control-label {
  min-width: 140px;
  float: left;
  font-size: 20px;
  display: inline-block;
  color: #03a9f4;
}
.inputDiv {
  width: calc(100% - 140px);
  float: right;
}
.inputDiv input,
.TimeStampInput input {
  height: 30px;
  margin-bottom: 10px;
}
.TimeStampInput {
  width: 25%;
  float: left;
}
.popSubmitBtnDiv {
  text-align: center;
}
.marL10 {
  margin-left: 10px;
  margin-top: 20px;
}
/* Video Part Div */
/* New CSS */
.interviewVideoDiv {
  width: 100%;
  float: left;
  height: 100%;
  text-align: center;
  /* z-index: 99; */
  display: flex;
  justify-content: flex-end;
}
/* .stickyDiv{
  position: sticky;
  top: 0;
  background-color: #999999;
} */
iframe.interviewVideo {
  width: 100%;
  height: 100%;
}
/* video js */
.video-js {
  width: 100%;
  height: 100%;
  outline: none;
}
.video-interview {
  width: 60%;
  height: 100%;
}
.video-js-without-questions {
  width: 100% !important;
  height: 100% !important;
}
/* end video js */
.leftSideQuetion {
  width: 40%;
  padding: 15px;
  /* background-color: #ffffff; */
  background-color: #000;
  /* border-radius: 5px;z */
  box-shadow: 0px 0px 10px #ccc;
}
.leftSideQuetion h2 {
  font-size: 15px;
  text-align: left;
  color: #33aaff;
  margin: 0 0 5px;
}
.interviewQue h4 {
  margin: 15px 0;
  font-size: 14px;
  text-align: left;
}
.interviewQue h4 a {
  /* color: #449132; */
  color: #ffffff;
  cursor: pointer;
}
.interviewQue h4 a:hover {
  font-weight: bold;
  color: #33aaff;
}
.interview-bold {
  font-weight: lighter !important;
  color: #33aaff !important;
}
.interviewQue {
  height: 130px;
  overflow-y: auto;
}
.disF{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Quetion hover */
/* .QuestionInner{
  position: relative;
}
.QuestionInner .OnHoverDiv {
  background-color: #353535;
  padding: 15px 10px;
  display: none;
  position: absolute;
  z-index: 9;
  top: 16px;
  border-radius: 5px;
  width: 100%;
}
.QuestionInner .OnHoverDiv h4 {
  color: #c0c0c0 !important;
  font-size: 13px;
  margin: 0;
}
.QuestionInner:hover .OnHoverDiv {
  display: block;
  position: absolute;
  z-index: 9;
}
.QuestionInner .OnHoverDiv:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.QuestionInner .OnHoverDiv:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #353535;
  border-width: 12px;
  margin-left: -60px;
} */
